{% set view = 'Finding somewhere to live' %}

{% extends "/layouts/dfe-service-v03.html" %}

{% set pageName="Guides - Finding somewhere to live" %}

{% block header %}


<div class="govuk-width-container">
{{ govukPhaseBanner({
  tag: {
    text: "Alpha"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
}) }}
</div>


{{ header({
    "showNav": "true",
    "showSearch": "false",
    "showHeaderActionLinks": "false",
    "logoPath": "public/images",
    "searchAction": "/search/",
    "searchInputName": "q",
    "logoAltText": "Department for Education",
    "homeHref": "/home",
    "selectedNav": view,
    "service": {
      "name": "Find support for leaving care",
      "serviceUrl": "/"
    },
    "headerActionLinks": [
      {
        "url"  : "/",
        "label" : "My account"
      },
      {
        "url"  : "/",
        "label" : "Sign out"
      }
    ],
    "primaryLinks": [
        {
        "url"  : "home",
        "label" : "Home"
      }, {
        "url"  : "all-support",
        "label" : "Find support"
      },  {
        "url"  : "status",
        "label" : "Your rights"
      },  {
        "url"  : "guide-leaving-care",
        "label" : "Leaving care process"
      },  {
        "url"  : "guides-advice",
        "label" : "Guides"
      }, {
        "url"  : "helplines",
        "label" : "Helplines"
      }
    ]
  })
}}


<section class="dfe-page-grey">
   <div class="govuk-width-container">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-three-quarters2">
            <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="home">Home</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="guides-advice">Guides</a>
              </li>
            </ol>
          </nav>
          
           <h1 class="govuk-heading-xl">
            Finding somewhere to live
           </h1>

           <p class="govuk-body">
    If you're not sure where to live when you leave care, we’ll talk through your options and what help you could get.
  </p>

         </div>
      </div>
   </div>
</section>


{% endblock %}



{% block content %}

<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
        <div class="govuk-main-wrapper">
  

  <h2 class="govuk-heading-s">Contents</h2>
  <ul class="govuk-list govuk-list--bullet">
    <li><a class="govuk-link govuk-body-s" href="guide-finding-somewhere-to-live">Suitable accommodation</a></li>
    <li><a class="govuk-link govuk-body-s" href="guide-finding-somewhere-to-live-02">Types of accommodation</a></li>
    <li><a class="govuk-link govuk-body-s" href="guide-finding-somewhere-to-live-03">Housing help for your situation</a></li>
    <li><span class="govuk-body-s">Moving areas</span></li>
    <li><a class="govuk-link govuk-body-s" href="guide-finding-somewhere-to-live-05">Help with housing costs</a></li>
  </ul>

  

  <div class="bluebox"><!-- Moving Areas -->
  <h2 class="govuk-heading-l" id="moving-areas">Moving areas</h2>

  <h3 class="govuk-heading-m">What happens if you move areas</h3>
  <p class="govuk-body">
    If you move to a new area under a different council, the council that cares for you will stay the same.
  </p>
  <p class="govuk-body">
    Your council must still give you housing support, including their Local Offer for care leavers.
  </p>
  <p class="govuk-body">
    Sometimes they may work with the council for your new area to support you, but this is up to them to decide.
  </p>

  <h3 class="govuk-heading-m">Who your council is</h3>
  <p class="govuk-body">
    To find out what your council is, use the <a class="govuk-link" href="https://www.gov.uk/find-local-council">Find your council service</a>.
  </p>
  <p class="govuk-body">
    You’ll need the postcode of where you lived when you first went into care.
  </p>
</div>

  {{ govukPagination({
            previous: {
              labelText: "Housing help for your situation",
              href: "guide-finding-somewhere-to-live-03"
            },
            next: {
              labelText: "Help with housing costs",
              href: "guide-finding-somewhere-to-live-05"
            }
          }) }}

  <!-- More Guides -->
  <!-- <h2 class="govuk-heading-l">More guides</h2>
  <ul class="govuk-list govuk-list--bullet">
    <li><a class="govuk-link" href="#facing-homelessness">Guide: What to do if you’re facing homelessness</a></li>
    <li><a class="govuk-link" href="#leaving-care">Guide: What happens when you leave care</a></li>
    <li><a class="govuk-link" href="#make-a-complaint">Guide: How to make a complaint</a></li>
  </ul> -->
</div>


      <hr>

 <div class="metadata-logo-wrapper">
  <div class="govuk-grid-column-two-thirds metadata-column">
    <div class="gem-c-metadata" data-module="gem-toggle metadata" data-gem-toggle-module-started="true" data-metadata-module-started="true">
      <dl class="gem-c-metadata__list">
        <dt class="gem-c-metadata__term">From:</dt>
          <dd class="gem-c-metadata__definition">
            <a class="govuk-link" href="https://www.gov.uk/government/organisations/department-for-education">Department for Education</a>

          </dd>
          <dt class="gem-c-metadata__term">Published</dt>
          <dd class="gem-c-metadata__definition">07 October 2024</dd>
          <dt class="gem-c-metadata__term">Last updated</dt>
          <dd class="gem-c-metadata__definition">25 October 2024</dd>
      </dl>
    </div>
    <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-8">
              <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link" data-print-link-module-started="true">Print this page</button>
          </div>
  </div>

</div>




            </div>
            

              <a href="#"><img class="full-width-image" alt="Care" src="/public/images/share.png" style="max-width: 300px;"></a>



            </div>

         </div>

    
  </div>
  
</div>



{% endblock %}
