{% set view = 'Design history' %}

{% extends "/layouts/dfe.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Design history posts</h2>
      
      <p class=" govuk-!-margin-bottom-2">
        <a href="/design-history/post03" target="_blank" class="govuk-link govuk-link--no-visited-state govuk-!-margin-bottom-2 govuk-heading-s">Status Checker vs Content-Driven Design</a>
      </p>
      <p class="govuk-body govuk-body-s">
        20 November 2024</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p class=" govuk-!-margin-bottom-2">
        <a href="/design-history/post02" target="_blank" class="govuk-link govuk-link--no-visited-state govuk-!-margin-bottom-2 govuk-heading-s">Images vs Icons</a>
      </p>
      <p class="govuk-body govuk-body-s">
        19 November 2024</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p class=" govuk-!-margin-bottom-2">
        <a href="/design-history/post01" target="_blank" class="govuk-link govuk-link--no-visited-state govuk-!-margin-bottom-2 govuk-heading-s">Choosing the right platform </a>
      </p>
      <p class="govuk-body govuk-body-s">
        18 November 2024</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      

    
  </div>
</div>

{% endblock %}
