@import 'node_modules/dfe-frontend/packages/dfefrontend';

@import url('https://rsms.me/inter/inter.css');
$govuk-font-family: 'Inter', sans-serif;

.govuk-width-container { @include govuk-width-container; }




.tableNumbers{
    font-feature-settings: 'tnum' 1, 'ss01' 1, 'zero' 1;
}

//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

@import url('https://rsms.me/inter/inter.css');
$govuk-font-family: 'Inter', sans-serif;


body, p, .govuk-body, .govuk-body-m, govuk-heading-xl, govuk-heading-l, govuk-heading-m, govuk-heading-s, a, .govuk-link, .govuk-list {
  font-family: 'Inter', sans-seif;
}
.dfe-page-hero {
    padding-top: 40px;
    padding-bottom: 30px;
    background-color:#1a4e78
}

.dfe-page-hero .govuk-body, .dfe-page-hero .govuk-body-l, .dfe-page-hero .govuk-heading-l, .dfe-page-hero .govuk-heading-xl, .dfe-page-hero i {
    color:#fff
}

.dfe-page-hero .govuk-heading-l, .dfe-page-hero .govuk-heading-xl {
    margin-bottom:25px
}
.gem-c-related-navigation {
    border-top: 2px solid #1d70b8;
    margin-bottom: 60px;
    margin-top: 40px;
    color: #0b0c0c;
}
.gem-c-related-navigation nav{
    margin-top:30px;
}


.care-filter {
    border: 1px solid $govuk-border-colour;
    padding: 15px;
}

.full-width-image {
  max-width: 100%;
}


.hf-card-container {
  background-color: #f3f2f1;
  border-bottom: 3px solid #003a69;
}
.hf-card a {
  text-decoration: none;
}
.hf-card a .hf-card-details p {
  color: #0b0c0c;
}
.hf-card a .hf-card-details h2,
.hf-card a h3 {
  color: #155388;
}
.hf-card a:hover .hf-card-container {
  background-color: #003a69;
}
.hf-card a:hover .hf-card-container .hf-card-details p,
.hf-card a:hover .hf-card-container .hf-card-details h2,
.hf-card a:hover .hf-card-container .hf-card-details h3 {
  color: #ffffff;
}

.hf-card-details {
  padding: 30px;
  min-height: 190px;
}
@media (max-width: 40.0525em) {
  .hf-card-details {
    padding: 25px;
    min-height: 170px;
  }
}