{% extends "/layouts/dfe-service.html" %}

{% set pageName="Entitlement checker" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

   {{ govukBackLink({
     text: "Back",
     href: "18-incare"
   }) }}

    <form class="form" action="/18-incare-weeks" method="post">
      <span class="govuk-caption-l">Check what support you’re entitled to</span>
    {{ govukRadios({
      name: "incareforweeks",
      value: data['incareforweeks'],
      fieldset: {
        legend: {
          text: "Were you in care for at least 13 weeks after you turned 14?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}

    </form>

    
  </div>
</div>

{% endblock %}
