{% extends "/layouts/dfe-service.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <div class="care-filter">
      <h2 class="govuk-heading-s">Filter</h2>
      {{ govukCheckboxes({
        name: "filter",
        fieldset: {
          legend: {
            text: "Types of support",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "all",
            text: "All",
            checked: true
          },
          {
            value: "general",
            text: "General"
          },
          {
            value: "money",
            text: "Money and benefits"
          },
          {
            value: "housing",
            text: "Housing"
          },
          {
            value: "health",
            text: "Health and welbeing"
          },
          {
            value: "work",
            text: "Work and unemployment"
          },
          {
            value: "education",
            text: "Education and training"
          },
          {
            value: "childcare",
            text: "Care and childcare"
          }
        ]
      }) }}
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      {{ govukRadios({
        name: "who",
        fieldset: {
          legend: {
            text: "Who's entitled to it",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "all",
            text: "All"
          },
          {
            value: "relevant-child",
            text: "Relevant child"
          },
          {
            value: "eligible-child",
            text: "Eligible child"
          },
          {
            value: "former-relevant-child",
            text: "Former relevant child"
          },
          {
            value: "qualifying-care-leaver",
            text: "Qualifying care leaver"
          },
          {
            value: "ncare-experience",
            text: "Someone with care experience"
          },
          {
            value: "over-25",
            text: "Someone over 25"
          },
          {
            value: "eligible-child",
            text: "Eligible child"
          },
          {
            value: "anyone",
            text: "Anyone if eligible"
          }
        ]
      }) }}



    </div>
  </div>

  
  <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-xl">
      All support
    </h1>

    {% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{{ govukAccordion({
  id: "accordion-with-summary-sections",
  items: [
    {
      heading: {
        text: "Understanding agile project management"
      },
      summary: {
        text: "Introductions, methods, core features."
      },
      content: {
        html:
        '<ul class="govuk-list">
            <li>
              <a class="govuk-link" href="#">Agile and government services: an introduction</a>
            </li>
            <li>
              <a class="govuk-link" href="#">Agile methods: an introduction</a>
            </li>
            <li>
              <a class="govuk-link" href="#">Core principles of agile</a>
            </li>
        </ul>'
      }
    },
    {
      heading: {
        text: "Working with agile methods"
      },
      summary: {
        text: "Workspaces, tools and techniques, user stories, planning."
      },
      content: {
        html:
        '<ul class="govuk-list">
            <li>
              <a class="govuk-link" href="#">Creating an agile working environment</a>
            </li>
            <li>
              <a class="govuk-link" href="#">Agile tools and techniques</a>
            </li>
            <li>
              <a class="govuk-link" href="#">Set up a team wall</a>
            </li>
            <li>
              <a class="govuk-link" href="#">Writing user stories</a>
            </li>
            <li>
              <a class="govuk-link" href="#">Planning in agile</a>
            </li>
            <li>
              <a class="govuk-link" href="#">Deciding on priorities</a>
            </li>
            <li>
              <a class="govuk-link" href="#">Developing a roadmap</a>
            </li>
        </ul>'
      }
    },
    {
      heading: {
        text: "Governing agile services"
      },
      summary: {
        text: "Principles, measuring progress, spending money."
      },
      content: {
        html:
        '<ul class="govuk-list">
            <li>
              <a class="govuk-link" href="#">Governance principles for agile service delivery</a>
            </li>
            <li>
              <a class="govuk-link" href="#">Measuring and reporting progress</a>
            </li>
            <li>
              <a class="govuk-link" href="#">Spend controls: check if you need approval to spend money on a service</a>
            </li>
            <li>
              <a class="govuk-link" href="#">Spend controls: apply for approval to spend money on a service</a>
            </li>
            <li>
              <a class="govuk-link" href="#">Spend controls: the new pipeline process</a>
            </li>
            <li>
              <a class="govuk-link" href="#">Working across organisational boundaries</a>
            </li>
        </ul>'
      }
    },
    {
      heading: {
        text: "Phases of an agile project"
      },
      summary: {
        text: "Discovery, alpha, beta, live and retirement."
      },
      content: {
        html:
        '<ul class="govuk-list">
            <li>
              <a class="govuk-link" href="#">How the discovery phase works</a>
            </li>
            <li>
              <a class="govuk-link" href="#">How the alpha phase works</a>
            </li>
            <li>
              <a class="govuk-link" href="#">How the beta phase works</a>
            </li>
            <li>
              <a class="govuk-link" href="#">How the live phase works</a>
            </li>
            <li>
              <a class="govuk-link" href="#">Retiring your service</a>
            </li>
        </ul>'
      }
    }
  ]
}) }}

  </div>
</div>

{% endblock %}
