{% extends "/layouts/dfe-service.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="care-filter">
      <h2 class="govuk-heading-s">Filter</h2>
      {{ govukCheckboxes({
        name: "filter",
        fieldset: {
          legend: {
            text: "Types of support",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "all",
            text: "All",
            checked: true
          },
          {
            value: "general",
            text: "General"
          },
          {
            value: "money",
            text: "Money and benefits"
          },
          {
            value: "housing",
            text: "Housing"
          },
          {
            value: "health",
            text: "Health and welbeing"
          },
          {
            value: "work",
            text: "Work and unemployment"
          },
          {
            value: "education",
            text: "Education and training"
          },
          {
            value: "childcare",
            text: "Care and childcare"
          }
        ]
      }) }}
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      {{ govukRadios({
        name: "who",
        fieldset: {
          legend: {
            text: "Who's entitled to it",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "all",
            text: "All",
            checked: true
          },
          {
            value: "relevant-child",
            text: "Relevant child"
          },
          {
            value: "eligible-child",
            text: "Eligible child"
          },
          {
            value: "former-relevant-child",
            text: "Former relevant child"
          },
          {
            value: "qualifying-care-leaver",
            text: "Qualifying care leaver"
          },
          {
            value: "care-experience",
            text: "Someone with care experience"
          },
          {
            value: "over-25",
            text: "Someone over 25"
          },
          {
            value: "eligible-child",
            text: "Eligible child"
          },
          {
            value: "anyone",
            text: "Anyone if eligible"
          }
        ]
      }) }}



    </div>
  </div>

  
  <div class="govuk-grid-column-two-thirds">

    {% set html %}
      <p>
        <strong>This is support available to young people, but you may not be entitled to all of it. See what you're entitled to by using our 
        <a class="govuk-notification-banner__link" href="#">entitlement checker</a>.</strong>
      </p>
    {% endset %}

    {{ govukNotificationBanner({
      html: html
    }) }}

    <h1 class="govuk-heading-xl">
      All support
    </h1>

    {% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{{ govukAccordion({
  id: "accordion-with-summary-sections",
  items: [
    {
      heading: {
        text: "Care leavers allowance"
      },
      summary: {
        html: "<p><strong class='govuk-tag govuk-tag--green' style='max-width: 180px;'>
          Former relevant child
        </strong></p><p>Brief description of what it is...</p>"
      },
      content: {
        html:
        '<p>A little bit more info but not too much</p>
        <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="#">Find out more</a>

        </ul>'
      }
    },
    {
      heading: {
        text: "Specific support"
      },
      summary: {
        html: "<p><strong class='govuk-tag govuk-tag--blue' style='max-width: 180px;'>
          Eligible child
        </strong></p><p>Brief description of what it is...</p>"
      },
      content: {
        html:
        '<p>A little bit more info but not too much</p>
        <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="#">Find out more</a>

        </ul>'
      }
    },
    {
      heading: {
        text: "Specific support"
      },
      summary: {
        html: "<p><strong class='govuk-tag govuk-tag--yellow' style='max-width: 180px;'>
          Qualifying care leaver
        </strong></p><p>Brief description of what it is...</p>"
      },
      content: {
        html:
        '<p>A little bit more info but not too much</p>
        <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="#">Find out more</a>

        </ul>'
      }
    },
    {
      heading: {
        text: "Universal Credit"
      },
      summary: {
        html: "<p><strong class='govuk-tag govuk-tag--yellow' style='max-width: 180px;'>
          Qualifying care leaver
        </strong></p><p>Brief description of what it is...</p>"
      },
      content: {
        html:
        '<p>A little bit more info but not too much</p>
        <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="#">Find out more</a>

        </ul>'
      }
    }
  ]
}) }}

  </div>
</div>

{% endblock %}
