{% extends "/layouts/dfe-service.html" %}

{% set pageName="Entitlement checker" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({
     text: "Back",
     href: "find-support"
   }) }}

    <form class="form" action="/entitlement-checker" method="post">
      <span class="govuk-caption-l">Leaving care entitlement checker</span>
    {{ govukRadios({
      name: "entcheck",
      value: data['entcheck'],
      fieldset: {
        legend: {
          text: "How old are you?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "15",
          text: "15 or under"
        },
        {
          value: "16",
          text: "16 or 17"
        },
        {
          value: "18",
          text: "18 to 24"
        },
        {
          value: "25",
          text: "25 and over"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}

    </form>
    
  </div>
</div>

{% endblock %}
