{% extends "/layouts/dfe-service.html" %}

{% set pageName="Find support" %}

{% block header %}


{{ header({
    "showNav": "true",
    "showSearch": "false",
    "showHeaderActionLinks": "false",
    "logoPath": "public/images",
    "searchAction": "/search/",
    "searchInputName": "q",
    "logoAltText": "Department for Education",
    "homeHref": "/get-support",
    "selectedNav": view,
    "service": {
      "name": "Find support for leaving care",
      "serviceUrl": "/"
    },
    "headerActionLinks": [
      {
        "url"  : "/",
        "label" : "My account"
      },
      {
        "url"  : "/",
        "label" : "Sign out"
      }
    ],
    "primaryLinks": [
        {
        "url"  : "get-support",
        "label" : "Find support"
      }, {
        "url"  : "all-support",
        "label" : "All support"
      },  {
        "url"  : "leaving-care-process",
        "label" : "Leaving care process"
      }, {
        "url"  : "help-and-advice",
        "label" : "Help and advice"
      }
    ]
  })
}}
<section class="dfe-page-hero">
   <div class="govuk-width-container">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl govuk-!-font-size-80">Find support</h1>
            <p class="govuk-body-l">When you leave care, you're entitled to government support.</p>
         </div>
      </div>
   </div>
</section>

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Check what support you're entitled to
    </h1>
    <p>When you leave care, you're entitled to government support.</p>
    <p>Some of this is the same nationally, but some changes based on who your local council is.</p>
    <p>How much you get depends on 'care leaver status', which is based on the time you spent in care.</p>
    <p>Find out your status and what support you are entitled to by answering these questions first.</p>
    {{ govukButton({
      text: "Start",
      href: "entitlement-checker"
    }) }}
  </div>
  <div class="govuk-grid-column-one-third">
     <div><img src="/public/images/care04.jpg" alt="Dad and daughter" style="max-width: 100%;"></div>
  </div>
</div>
<div class="govuk-grid-row">
   <div class="govuk-grid-column-full">
      <!-- <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"> -->

          <section class="dfe-section govuk-!-margin-top-5">
             <div class="govuk-width-container">
                <h2 class="govuk-heading-l">Further support</h2>
                <div class="dfe-grid-container dfe-grid-container--wider govuk-!-margin-top-5">

                  <div class="hf-card">
                     <a href="/support-for-practitioners">
                        <div class="hf-card-container">
                           <img class="full-width-image" alt="Support for practitioners thumbnail" title="A group of female early years practitioners have a coffee break" src="/public/images/care02.jpg">
                           <div class="hf-card-details">
                              <h3 class="govuk-heading-m">View all support</h3>
                              <p class="govuk-body"> Praesent neque ipsum, interdum non fringilla at, iaculis sed erat. Aenean vehicula dolor leo, laoreet malesuada ipsum tincidunt et.</p>
                           </div>
                        </div>
                     </a>
                  </div>

                  <div class="hf-card">
                     <a href="/support-for-practitioners">
                        <div class="hf-card-container">
                           <img class="full-width-image" alt="Support for practitioners thumbnail" title="A group of female early years practitioners have a coffee break" src="/public/images/care01.jpg">
                           <div class="hf-card-details">
                              <h3 class="govuk-heading-m">Leaving care process</h3>
                              <p class="govuk-body">Aenean vehicula dolor leo, laoreet malesuada ipsum tincidunt et. Nullam sed ornare dolor. Vestibulum tincidunt nisi vitae pellentesque elementum.</p>
                           </div>
                        </div>
                     </a>
                  </div>

                  <div class="hf-card">
                     <a href="/support-for-practitioners">
                        <div class="hf-card-container">
                           <img class="full-width-image" alt="Support for practitioners thumbnail" title="A group of female early years practitioners have a coffee break" src="/public/images/care03.jpg">
                           <div class="hf-card-details">
                              <h3 class="govuk-heading-m">Help and advice</h3>
                              <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum purus in vehicula elementum.</p>
                           </div>
                        </div>
                     </a>
                  </div>

                </div>
             </div>
          </section>
    
  </div>
</div>

{% endblock %}
