{% extends "/layouts/dfe-service.html" %}

{% set pageName="Support for young people seeking asylum " %}



{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

    {{ govukBreadcrumbs({
      collapseOnMobile: true,
      items: [
        {
          text: "Check support",
          href: "find-support"
        },
        {
          text: "Support for young people seeking asylum ",
          href: "help-uasc"
        }
      ]
    }) }}

    <div class="floating-icon">
        <a href="https://translate.google.co.uk" target="_blank">
            <img src="/public/images/google-translate.svg.png" alt="Google Translate">
        </a>
    </div>

    <h1 class="govuk-heading-xl">
      Support for young people seeking asylum  
    </h1>
    
    <nav>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#who-entitled">Coming to the UK</a>
        </li>
        <li>
          <a class="govuk-link" href="#what-it-is">The asylum process</a>
        </li>
        <li>
          <a class="govuk-link" href="#how-much">Asylum decision</a>
        </li>
        <li>
          <a class="govuk-link" href="#how-and-when">Appealing a decision</a>
        </li>
        <li>
          <a class="govuk-link" href="#other-support">Getting support</a>
        </li>
        <li>
          <a class="govuk-link" href="#issues">Help and advice</a>
        </li>
      </ul>
    </nav>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    
    <h2 class="govuk-heading-l" id="who-entitled">Coming to the UK</h2>
    <p class="govuk-body">If you’ve come to the UK for protection because it is not safe in your country, this is called 'seeking asylum'. </p>
    <p class="govuk-body">If you arrived before you turned 18, without an adult, the UK government must take care of you as an 'unaccompanied asylum-seeking child' (or 'UASC' for short). </p>





    <h2 class="govuk-heading-l" id="what-it-is">The asylum process</h2>
    <p class="govuk-body">When you go through the 'asylum process', the UK government decides whether you can legally stay in the UK and how long for. </p>
    <p class="govuk-body">There will be people to help you through this, like a social worker and a lawyer.</p>


    <h3 class="govuk-heading-m">1. Making an asylum claim</h3>
    <p class="govuk-body">When you come to the UK, first you’ll need to make an 'asylum claim' with the Home Office (part of the UK government). </p>
    <p class="govuk-body">This will start the asylum process, so you can ask for protection and stay in the UK.  </p>
    <p class="govuk-body">It’s important you do this as soon as possible. </p>
    <p class="govuk-body">Shortly after you start an asylum claim, you will get your 'Application Registration Card (ARC)'. This gives proof of where you are in the asylum process to different people and services (like the doctors).  </p>


    <h3 class="govuk-heading-m">2. Welfare (small) interview</h3>
    <p class="govuk-body">A Home Office worker will ask you questions, with an interpreter to help you (who can speak your language). </p>
    <p class="govuk-body">Your social worker, a lawyer and another adult will be there too. </p>
    <p class="govuk-body">They might ask questions like your name, date of birth, and where you’re from. They might also ask about your family and how you got to the UK.  </p>
    <p class="govuk-body">If they ask you why you came the UK, you do not need to answer this yet. </p>
    <p class="govuk-body">At the end, your fingerprints and photograph will be taken. </p>

    <h3 class="govuk-heading-m">3. Finding somewhere to live </h3>
    <p class="govuk-body">When you first arrive in the UK, you will be placed in 'initial accommodation', like a hotel or hostel.</p>
    <p class="govuk-body">This is for a short time until your social worker finds you somewhere more suitable to live. </p>
    <p class="govuk-body">After this, you will be moved to a more suitable home, such as:
    <ul class="govuk-list govuk-list--bullet">
      <li>foster care (living with a family in their home)</li>
      <li>a children’s home (living with other children, young people and support workers) </li>
      <li>semi-independent accommodation (living alone or with other young people, with visits from a support worker) </li>
    </ul></p>
    <p class="govuk-body">You may be moved to a different area where you can get better support. This is called the 'National transfer scheme (NTS)'.</p>

    <h3 class="govuk-heading-m">4. Statement of evidence form (SEF)</h3>
    <p class="govuk-body">You’ll meet your lawyer who will help you with your asylum claim. </p>
    <p class="govuk-body">They will help you fill in the 'statement of evidence form (SEF)'. You’ll have 60 days to fill this in, but the time can be extended if needed. </p>
    <p class="govuk-body">In this form, you will explain why you are too scared to return to your country. It might feel difficult to talk about this, so your lawyer will support you.</p>
    <p class="govuk-body">Your lawyer will also ask you of you can give any proof that you could be in danger in your country. </p>
    <p class="govuk-body">Anything you tell your lawyer is 'confidential'. This means they are not allowed to tell information you give them to other people, unless you say it’s OK to. </p>

    <h3 class="govuk-heading-m">5. Substantive (big) interview</h3>
    <p class="govuk-body">If you are older than 12, you will have a longer interview with a Home Office worker. Your social worker, legal adviser, another adult and an interpreter will be there too. </p>
    <p class="govuk-body">If you feel more comfortable with a male or a female interpreter, you can ask for this. </p>
    <p class="govuk-body">You will be asked questions about your life before coming to the UK, your journey and why you came to the UK. </p>
    <p class="govuk-body">It can be upsetting and tiring, so you can ask for breaks. </p>
    <p class="govuk-body">If you’re interpreter is difficult to understand or is not interpreting you correctly, you must tell the Home Office worker and your legal advisor. </p>

    <h3 class="govuk-heading-m">6. Getting an asylum decision</h3>
    <p class="govuk-body">The Home Office will decide if you can stay in the UK and under which conditions. </p>
    <p class="govuk-body">It is your right to appeal a decision, if you want to. </p>

    



    <h2 class="govuk-heading-l" id="how-much">Asylum decision</h2>

    <h3 class="govuk-heading-m">Grant of refugee status</h3>
    <p class="govuk-body">If you are granted refugee status, this means:   

      <ul class="govuk-list govuk-list--bullet">
        <li>you can stay in the UK for a minimum of 5 years </li>
        <li>it’s too dangerous for you to return to your home country</li>
        <li>you can apply for settlement (to stay) after 5 years. </li>
      </ul>
    </p>

    <h3 class="govuk-heading-m">Grant of humanitarian protection</h3>
    <p class="govuk-body">If you are granted humanitarian protection, this means:  

      <ul class="govuk-list govuk-list--bullet">
        <li>you can stay in the UK for a minimum of 5 years </li>
        <li>you do not qualify for 'full refugee status' but there’s a risk of serious harm for you to return to your home country</li>
        <li>you can apply for settlement (to stay) after 5 years. </li>
      </ul>
    </p> 

    <h3 class="govuk-heading-m">Grant of other leave</h3>
    <p class="govuk-body">If you are granted other leave, this means:   

      <ul class="govuk-list govuk-list--bullet">
        <li>you can stay in the UK on a temporary basis </li>
        <li>you are seen as not being at risk of harm but have reasons to stay temporarily</li>
        <li>you can contact the Home Office 1 month before your leave expires to arrange to leave the UK or apply to stay longer (application to extend leave). </li>
      </ul>
    </p> 

    <h3 class="govuk-heading-m">Refusal of asylum </h3>
    <p class="govuk-body">If you are refused asylum, you will get a letter explaining why. </p>
    <p class="govuk-body">If you have the right to appeal the decision, you’ll be given information on how to do this. </p>





    <h2 class="govuk-heading-l" id="how-and-when">Appealing a decision</h2>

    <h3 class="govuk-heading-m">Your rights </h3>
    <p class="govuk-body">If you disagree with a decision, it is your right to 'appeal a decision'.  </p>
    <p class="govuk-body">This means you could ask to have your case reviewed again, which could mean a different decision. </p>
    <p class="govuk-body">You also have the right to an interpreter to help with this.  </p>
    <p class="govuk-body">If you are not happy with your lawyer, it’s your right to ask for a different one.</p>

    <h3 class="govuk-heading-m">How to appeal a decision </h3>
    <p class="govuk-body">You can speak to your social worker, case worker or lawyer if you want to appeal a decision. </p>
    <p class="govuk-body">You have 14 days (about 2 weeks) to do this, from when you were told the decision.  </p>
    <p class="govuk-body">You’ll need to ask for 'permission to appeal', where you can explain why you disagree with the decision. </p>

    <h2 class="govuk-heading-l" id="other-support">Getting support</h2>
    <h3 class="govuk-heading-m">Your rights</h3>
    <p class="govuk-body">Under UK government, there are 'local authorities' (sometimes called 'local councils') that look after people in different areas of the UK. </p>
    <p class="govuk-body">It is your right to get support from your 'local authority'. </p>
    <p class="govuk-body">What support you get depends on:  

      <ul class="govuk-list govuk-list--bullet">
        <li>where you live in the UK</li>
        <li>how old you were when you came to the UK</li>
        <li>where you are in the asylum process</li>
        <li>if you’re in school or college</li>
        <li>if you have any disabilities, special education needs or health issues</li>
        <li>if you’re in custody (if you are living in a secure children’s home, secure training centre or young offender institution).</li>
      </ul></p>
    <p class="govuk-body">You may need an 'age assessment' to work out how old you are so you get the right support for your age.</p>

    <h3 class="govuk-heading-m">Who helps you</h3>

    <p class="govuk-body">You will get support from people that work for your local authority, such as:  
     <ul class="govuk-list govuk-list--bullet">
        <li>social workers</li>
        <li>personal advisors</li>
        <li>support workers</li>
        <li>case workers</li>
        <li>lawyers</li>
      </ul>
    </p>
    <p class="govuk-body">You may not meet all these people, but you should have people helping you.</p>

    <h3 class="govuk-heading-m">Support you’ll get</h3>

    <p class="govuk-body">Your social worker (and maybe other people) will help you with things like:
      <ul class="govuk-list govuk-list--bullet">
        <li>your asylum claim</li>
        <li>finding your family (if you want to)</li>
        <li>money for clothing, food and transport</li>
        <li>finding somewhere to live</li>
        <li>getting on to a course to learn English</li>
        <li>school and college </li>
        <li>health and emotional support</li>
        <li>finding communities, activities and youth clubs. </li>
      </ul></p>

    <p class="govuk-body">If you came to the UK before you turned 18, without an adult, you could get other support.  </p>

    <p class="govuk-body"><a href="find-support">Check what other support you could get</a></p>


    <h2 class="govuk-heading-l" id="help-and-advice">Help and advice</h2>

    <p class="govuk-body">It’s important you get 'independent advice'. This means advice from somewhere that is not the UK government.</p>
    <p class="govuk-body">You can get this advice at any time, but it’s good to get it early on in your asylum process. </p>

    <p class="govuk-body">To get legal help and advice (such as your asylum claim), go to <a href="https://www.asylumaid.org.uk/" target="_blank">Asylum Aid</a> or <a href="https://www.childrenslegalcentre.com/" target="_blank">Coram’s Children’s Legal Centre</a>.</p>

    <p class="govuk-body">If you need help right now, have questions or someone to talk to, go to <a href="https://www.refugeecouncil.org.uk/" target="_blank">The Refugee Council</a>.</p>


  </div>
  <div class="govuk-grid-column-one-third">
    <div class="gem-c-related-navigation">
      <h2 class="govuk-heading-s" style="margin-top: 15px;">
        Related support
      </h2>
      <nav>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link govuk-body-s" href="#">Specific support no2</a>
        </li>
        <li>
          <a class="govuk-link govuk-body-s" href="#">Specific support no3</a>
        </li>
        <li>
          <a class="govuk-link govuk-body-s" href="#">Specific support no4</a>
        </li>
        <li>
          <a class="govuk-link govuk-body-s" href="#">Specific support no5</a>
        </li>
        <li>
          <a class="govuk-link govuk-body-s" href="#">Specific support no6</a>
        </li>
      </ul>
    </nav>
    </div>
  </div>
</div>
  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <div class="govuk-grid-row">
   <div class="govuk-grid-column-full">
      <!-- <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"> -->

          <section class="dfe-section govuk-!-margin-top-5">
             <div class="govuk-width-container">
                <h2 class="govuk-heading-l">Helpful links</h2>
                <div class="dfe-grid-container dfe-grid-container--wider govuk-!-margin-top-5">

                  <div class="hf-card">
                     <a href="/support-for-practitioners">
                        <div class="hf-card-container">
                           <img class="full-width-image" alt="Support for practitioners thumbnail" src="/public/images/care02.jpg">
                           <div class="hf-card-details">
                              <h3 class="govuk-heading-m">View all support</h3>
                              <p class="govuk-body">If you already know your care leaver status, you can browse and filter all the support available</p>
                           </div>
                        </div>
                     </a>
                  </div>

                  <div class="hf-card">
                     <a href="/support-for-practitioners">
                        <div class="hf-card-container">
                           <img class="full-width-image" alt="Support for practitioners thumbnail" src="/public/images/care01.jpg">
                           <div class="hf-card-details">
                              <h3 class="govuk-heading-m">Care leaving process</h3>
                              <p class="govuk-body">Find out what happens before you leave care and how your local council must support you when you leave</p>
                           </div>
                        </div>
                     </a>
                  </div>

                  <div class="hf-card">
                     <a href="/support-for-practitioners">
                        <div class="hf-card-container">
                           <img class="full-width-image" alt="Support for practitioners thumbnail" src="/public/images/care03.jpg">
                           <div class="hf-card-details">
                              <h3 class="govuk-heading-m">Help and advice</h3>
                              <p class="govuk-body">If you’re struggling and need someone to talk to, view our list of helplines and services for support</p>
                           </div>
                        </div>
                     </a>
                  </div>

                </div>
             </div>
          </section>
    
  </div>
</div>
    
  </div>
</div>

{% endblock %}
