{% extends "/layouts/dfe-service.html" %}

{% set pageName="Support as an asylum-seeking person" %}



{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

    {{ govukBreadcrumbs({
      collapseOnMobile: true,
      items: [
        {
          text: "Check support",
          href: "find-support"
        },
        {
          text: "Support for an unaccompanied asylum-seeking child or young person",
          href: "help-uasc"
        }
      ]
    }) }}

    <h1 class="govuk-heading-xl">
      Support as an asylum-seeking person 
    </h1>
    
    <nav>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#who-entitled">Seeking asylum and being in care</a>
        </li>
        <li>
          <a class="govuk-link" href="#what-it-is">The asylum process</a>
        </li>
        <li>
          <a class="govuk-link" href="#how-much">Refugee statuses</a>
        </li>
        <li>
          <a class="govuk-link" href="#how-and-when">Appealing a decision</a>
        </li>
        <li>
          <a class="govuk-link" href="#other-support">Support you’re entitled to</a>
        </li>
        <li>
          <a class="govuk-link" href="#issues">Help and advice</a>
        </li>
      </ul>
    </nav>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    
    <h2 class="govuk-heading-l" id="who-entitled">Seeking asylum and being in care</h2>
    <p class="govuk-body">&quot;Seeking asylum&quot; means asking for protection in the UK because it’s not safe for you to live in your home country. Your home country might not be safe because:  
    <ul class="govuk-list govuk-list--bullet">
      <li>war</li>
      <li>violence</li>
      <li>threats to your life</li>
    </ul></p>
    <p class="govuk-body">Being in care means that the council are responsible for making sure you: 
      <ul class="govuk-list govuk-list--bullet">
      <li>are safe</li>
      <li>have somewhere to live</li>
      <li>are supported in other areas like your education and health</li>
    </ul></p>
      <p class="govuk-body">When you are given refugee status, you could also be eligible for care leaver status. This means you’ll continue to get support after you turn 18. </p>

    <h2 class="govuk-heading-l" id="what-it-is">The asylum process</h2>
    <p class="govuk-body">As a UASC, the asylum process can feel complicated. But here is some information on some important parts of the process:</p>

    <h3 class="govuk-heading-m">Applying for asylum</h3>
    <p class="govuk-body">You will fill out a form called the Statement of Evidence Form (SEF), where you explain why you left your home country and why it’s unsafe for you to return. Your legal advisor will help you with this. You have the right to legal representation at all points of the process, please <a href="#">click here to find support</a> to help with this. It is important the Home Office receives this form, or the interview will not go ahead.</p>

    <h3 class="govuk-heading-m">Age Assessment</h3>
    <p class="govuk-body">If the local authority is unsure about your age (age dispute), they may carry out an age assessment. This is a process where professionals from the council interview you to understand your background to help find out your age. It is important because the support you are given depends on age. You have the right to have someone with you, like a social worker, during this process.</p>

    <h3 class="govuk-heading-m">National Transfer Scheme (NTS) </h3>
    <p class="govuk-body">If the local council you are placed in cannot provide you with care, you may be moved to another council through the National Transfer Scheme (NTS). This makes sure you receive the support you need in another area. Your social worker will guide you through this process and make sure you are settled in the new location.  </p>

    <h3 class="govuk-heading-m">Substantive (Big) Interview</h3>
    <p class="govuk-body">After you submit your SEF and if you are over the age of 12, you will have a big interview with the Home Office. In the interview, you will explain your reasons for seeking asylum in the UK. You should have a lawyer and a responsible adult (e.g. social worker) there to support you at the interview. If English is your second language, an interpreter will attend to translate. If you feel more comfortable with an interpreter of a certain gender, let your legal advisor know – they can help arrange this for you. </p>
    <p class="govuk-body">The interview, also called a substantive interview, is usually quite long. But sometimes the Home Office may break it down into smaller interviews that take place over a few days. The Home Office worker will ask you questions about your life, your journey and why you are seeking asylum. It is important to: 

    <ul class="govuk-list govuk-list--bullet">
      <li>Be <strong>clear</strong> when answering questions. </li>
      <li>Try to <strong>remember all the important details</strong> about your situation and your reasons for leaving your home country. </li>
    </ul>
  </p>

  <p class="govuk-body">After the interview, the Home Office may send another letter to request further information. Make sure to respond to this as soon as you can with help from your legal adviser.  </p>
  <p class="govuk-body">It is a good idea to think about what questions you want to ask during this meeting. If you are struggling to find a legal adviser, your social worker or support team can help you get one, <a href="#">see further information here</a>. It is important to meet with your legal advisor at least once before the interview.  </p>

    <h3 class="govuk-heading-m">Decision</h3>
    <p class="govuk-body">After the interview, the Home Office will decide if you can stay in the UK. They will look at everything you’ve shared to make this decision. Under UK law, you have the right to be treated fairly and to stay informed about your case. </p>



    <h2 class="govuk-heading-l" id="how-much">Refugee statuses</h2>
    <p class="govuk-body">When you apply for asylum, the Home Office will decide your ‘refugee status’.  You’ll get different amounts of support depending on your refugee status. </p>

    <h3 class="govuk-heading-m">Refugee</h3>
    <p class="govuk-body">This means the UK government agrees it’s not safe for you to live in your home country.  </p>
    <p class="govuk-body">You can:  

      <ul class="govuk-list govuk-list--bullet">
        <li>get help with housing </li>
        <li>access free healthcare </li>
        <li>go to school</li>
        <li>get money to help with daily expenses</li>
      </ul>
    </p>


    <h3 class="govuk-heading-m">Humanitarian Protection</h3>
    <p class="govuk-body">Given if it is very dangerous for dangerous for you to go back home, but you don’t qualify as a refugee. You can:  

      <ul class="govuk-list govuk-list--bullet">
        <li>work </li>
        <li>receive housing support </li>
        <li>access free healthcare </li>
        <li>access free education</li>
      </ul>
    </p>

    <p class="govuk-body">You may get financial support if you qualify.</p>

    <p class="govuk-body">After living here for 5 years, you can apply to stay in the UK permanently. The Home Office decides on your ‘immigration status’.</p>

    <h3 class="govuk-heading-m">Indefinite leave to remain</h3>
    <p class="govuk-body">You get all the support of refugee status. You may also be able to access more permanent forms of financial and social support.</p>

    <h3 class="govuk-heading-m">Discretionary Leave to Remain</h3>
    <p class="govuk-body">This temporary permission can be given for special reasons. Support might include permission to work and access to healthcare. However, your personal circumstances may mean you can access more support, ask your social worker for more details.</p>

    <h3 class="govuk-heading-m">Application to extend leave</h3>
    <p class="govuk-body">If you applied to extend your stay before your last permission expired, you can continue to access the benefits you were previously granted until a decision is made.</p>

    <h3 class="govuk-heading-m">Appeal against extension refusal</h3>
    <p class="govuk-body">If you have appealed a decision refusing to extend your leave and the appeal is ongoing, you can continue access to your current benefits.</p>

    <h3 class="govuk-heading-m">Asylum claim or appeal</h3>
    <p class="govuk-body">If you’re waiting for a decision on your asylum claim or an appeal you generally have access to some basic support such as housing, a small living allowance, and healthcare services.</p>
    <p class="govuk-body">If you have been granted a status you don’t agree with, you have the right to appeal. For example, you have been granted discretionary leave to remain but think you’re eligible for indefinite leave to remain. </p>

    <p class="govuk-body">You can also appeal if your refugee application has been refused. This means you can ask for a hearing to review your case and make a new decision. <a href="#how-and-when">Learn more about how to appeal against a decision</a>. </p>





    <h2 class="govuk-heading-l" id="how-and-when">Appealing a decision</h2>
    <p class="govuk-body">If you disagree with a decision made about your asylum status, you have the right for the decision to be looked at again. This is called an <strong>appeal.</strong></p>

    <h3 class="govuk-heading-m">Understanding the appeals process</h3>
    <p class="govuk-body">Speak to your social worker, your caseworker or legal adviser quickly if you wish to appeal your decision. Normally, you have 14 days (about 2 weeks) from the date of the decision to appeal. The first step is to ask for ‘permission to appeal’. This means you explain why you think the decision was wrong.</p>

    <p class="govuk-body">If you get permission, your case will go to the first level of the court system that deals with these issues, called the First-Tier Tribunal. This court looks at your case for the first time to decide if the original decision was wrong. Here, everything about your case can be discussed and reviewed again.  If any part of the process is complicated to understand, contact your legal advisor, or <a href="#">click here for more information</a>. </p>

    <p class="govuk-body">You can appeal a decision at different times, like when you first apply or when you want to stay longer.</p>

    <h3 class="govuk-heading-m">Your rights during the appeals process</h3>
    <p class="govuk-body">When you appeal, you have some important rights. If English is not your first language, you have the right to an interpreter. This person will help translate during meetings, interviews, and court hearings. Also, you can change your legal adviser if you are unhappy with how they are handling your case. It is important that you feel supported and understood by the person helping you with your case. However, finding a new lawyer can sometimes be hard. There are not many lawyers available, and it could take some time to find someone who can take on your case. If you are unsure, you can speak to someone from a charity that helps asylum-seeking children. They can give you advice and help you make the best decision for your situation. </p>

    <h2 class="govuk-heading-l" id="other-support">Support you’re entitled to</h2>
    <p class="govuk-body">As an unaccompanied asylum-seeking child in the UK, you are entitled to support from your local council. The support you get may be different depending on: 

      <ul class="govuk-list govuk-list--bullet">
        <li>where you live</li>
        <li>your refugee status</li>
        <li>if you’re in school </li>
        <li>if you’re in custody</li>
      </ul></p>

    <p class="govuk-body">A social worker will be assigned to help you. They can find you a safe place to live such as: 
     <ul class="govuk-list govuk-list--bullet">
        <li>foster care</li>
        <li>a children’s home</li>
        <li>semi-independent accommodation</li>
      </ul>
    </p>
    <p class="govuk-body">They can also help you get healthcare and go to school or college. </p>
    <p class="govuk-body">You might also get extra help with learning such as language classes.</p>
    <p class="govuk-body">Some councils may offer services like: 
      <ul class="govuk-list govuk-list--bullet">
        <li>youth clubs</li>
        <li>activities</li>
        <li>mental health support</li>
      </ul></p>
    <p class="govuk-body">You may also get money for essentials like food, clothing and transport. </p>

    {{ govukInsetText({
      text: "If you came to the UK before 18 and were 'in care' for at least 13 weeks, you are entitled to support as former relevant child, which means you’ll continue to get help after turning 18.  "
    }) }}

    <p class="govuk-body">If you came to the UK before 18 but not “in care” for 13 weeks, you might still get help from your council, but it may be less. </p>

    <h2 class="govuk-heading-l" id="issues">Other helpful information</h2>
    <p class="govuk-body">There are many charities and organisations that can provide extra advice and support during your asylum process. </p>

    <p class="govuk-body"><a href="#">The Refugee Council</a> can give you: 
      <ul class="govuk-list govuk-list--bullet">
        <li>crisis advice </li>
        <li>mental health counselling </li>
        <li>practical support to help you settle into your new community </li>
      </ul></p>
    <p class="govuk-body"><a href="#">Coram’s Children’s Legal Centre</a> and <a href="#">Asylum aid</a> can help with legal issues. </p>


  </div>
  <div class="govuk-grid-column-one-third">
    <div class="gem-c-related-navigation">
      <h2 class="govuk-heading-s" style="margin-top: 15px;">
        Related support
      </h2>
      <nav>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link govuk-body-s" href="#">Specific support no2</a>
        </li>
        <li>
          <a class="govuk-link govuk-body-s" href="#">Specific support no3</a>
        </li>
        <li>
          <a class="govuk-link govuk-body-s" href="#">Specific support no4</a>
        </li>
        <li>
          <a class="govuk-link govuk-body-s" href="#">Specific support no5</a>
        </li>
        <li>
          <a class="govuk-link govuk-body-s" href="#">Specific support no6</a>
        </li>
      </ul>
    </nav>
    </div>
  </div>
</div>
  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <div class="govuk-grid-row">
   <div class="govuk-grid-column-full">
      <!-- <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"> -->

          <section class="dfe-section govuk-!-margin-top-5">
             <div class="govuk-width-container">
                <h2 class="govuk-heading-l">Helpful links</h2>
                <div class="dfe-grid-container dfe-grid-container--wider govuk-!-margin-top-5">

                  <div class="hf-card">
                     <a href="/support-for-practitioners">
                        <div class="hf-card-container">
                           <img class="full-width-image" alt="Support for practitioners thumbnail" src="/public/images/care02.jpg">
                           <div class="hf-card-details">
                              <h3 class="govuk-heading-m">View all support</h3>
                              <p class="govuk-body">If you already know your care leaver status, you can browse and filter all the support available</p>
                           </div>
                        </div>
                     </a>
                  </div>

                  <div class="hf-card">
                     <a href="/support-for-practitioners">
                        <div class="hf-card-container">
                           <img class="full-width-image" alt="Support for practitioners thumbnail" src="/public/images/care01.jpg">
                           <div class="hf-card-details">
                              <h3 class="govuk-heading-m">Care leaving process</h3>
                              <p class="govuk-body">Find out what happens before you leave care and how your local council must support you when you leave</p>
                           </div>
                        </div>
                     </a>
                  </div>

                  <div class="hf-card">
                     <a href="/support-for-practitioners">
                        <div class="hf-card-container">
                           <img class="full-width-image" alt="Support for practitioners thumbnail" src="/public/images/care03.jpg">
                           <div class="hf-card-details">
                              <h3 class="govuk-heading-m">Help and advice</h3>
                              <p class="govuk-body">If you’re struggling and need someone to talk to, view our list of helplines and services for support</p>
                           </div>
                        </div>
                     </a>
                  </div>

                </div>
             </div>
          </section>
    
  </div>
</div>
    
  </div>
</div>

{% endblock %}
