{% extends "/layouts/dfe-service.html" %}

{% set pageName="Icons and images" %}



{% block content %}



<div class="govuk-grid-row">
   <div class="govuk-grid-column-full">
      <!-- <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"> -->

          <section class="dfe-section govuk-!-margin-top-5">
             <div class="govuk-width-container">
                <h2 class="govuk-heading-l">Icons</h2>
                <div class="dfe-grid-container dfe-grid-container--wider govuk-!-margin-top-5">

                  <div class="hf-card">
                     <a href="all-support">
                        <div class="hf-card-container">
                           <img class="full-width-image" alt="General" src="/public/images/icon-general.png">
                           <div style="padding:5px;">
                              <h3 class="govuk-heading-m">General help</h3>

                           </div>
                        </div>
                     </a>
                  </div>

                  <div class="hf-card">
                     <a href="leaving-care-process">
                        <div class="hf-card-container">
                           <img class="full-width-image" alt="Work" src="/public/images/icon-work.png">
                           <div style="padding:5px;">
                              <h3 class="govuk-heading-m">Work and unemployment</h3>

                           </div>
                        </div>
                     </a>
                  </div>

                  <div class="hf-card">
                     <a href="help-and-advice">
                        <div class="hf-card-container">
                           <img class="full-width-image" alt="Housing" src="/public/images/icon-housing.png">
                           <div style="padding:5px;">
                              <h3 class="govuk-heading-m">Housing</h3>

                           </div>
                        </div>
                     </a>
                  </div>

                  <div class="hf-card">
                     <a href="all-support">
                        <div class="hf-card-container">
                           <img class="full-width-image" alt="Money" src="/public/images/icon-money.png">
                           <div style="padding:5px;">
                              <h3 class="govuk-heading-m">Money</h3>

                           </div>
                        </div>
                     </a>
                  </div>

                  <div class="hf-card">
                     <a href="leaving-care-process">
                        <div class="hf-card-container">
                           <img class="full-width-image" alt="Education" src="/public/images/icon-education.png">
                           <div style="padding:5px;">
                              <h3 class="govuk-heading-m">Education</h3>

                           </div>
                        </div>
                     </a>
                  </div>

                  <div class="hf-card">
                     <a href="help-and-advice">
                        <div class="hf-card-container">
                           <img class="full-width-image" alt="Care and childcare" src="/public/images/icon-care.png">
                           <div style="padding:5px;">
                              <h3 class="govuk-heading-m">Care and childcare</h3>

                           </div>
                        </div>
                     </a>
                  </div>

                  <div class="hf-card">
                     <a href="help-and-advice">
                        <div class="hf-card-container">
                           <img class="full-width-image" alt="Health" src="/public/images/icon-health.png">
                           <div style="padding:5px;">
                              <h3 class="govuk-heading-m">Health</h3>

                           </div>
                        </div>
                     </a>
                  </div>

                </div>
             </div>
          </section>
    
  </div>
</div>

{% endblock %}
<div class="dfe-card">
                     <img src="/assets/images/standard.png" alt="">
                     <div class="dfe-card-container">
                        <h3 class="govuk-heading-m">
                           <a href="/standards" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Accessibility Standards</a>
                        </h3>
                        <p>The standards we must meet when building products and websites.</p>
                     </div>
                  </div>