{% extends "/layouts/dfe-service.html" %}

{% set pageName="Care leavers allowance" %}



{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

    {{ govukBreadcrumbs({
      collapseOnMobile: true,
      items: [
        {
          text: "Find support",
          href: "get-support"
        },
        {
          text: "Former relevant child",
          href: "support-former-relevant-child"
        },
        {
          text: "Care leavers allowance",
          href: "support-care-allowance"
        }
      ]
    }) }}

    <h1 class="govuk-heading-xl">
      Care leavers allowance
    </h1>

    <p><strong class="govuk-tag govuk-tag--green" style="max-width: 180px;">
          Former relevant child
        </strong></p>
    
    <nav>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#who-entitled">Who is entitled to it</a>
        </li>
        <li>
          <a class="govuk-link" href="#what-it-is">What care leavers allowance is</a>
        </li>
        <li>
          <a class="govuk-link" href="#how-much">How much you'll get</a>
        </li>
        <li>
          <a class="govuk-link" href="#how-and-when">How and when you'll get it</a>
        </li>
        <li>
          <a class="govuk-link" href="#other-support">If you're receiving other support</a>
        </li>
        <li>
          <a class="govuk-link" href="#issues">Issues with this support</a>
        </li>
        <li>
          <a class="govuk-link" href="#further-info">Further information</a>
        </li>
      </ul>
    </nav>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    
    <h2 class="govuk-heading-l" id="who-entitled">Who is entitled to it</h2>
    <p>Whether you're entitled to this depends care leaver status (this is based on time you have spent in care).</p>
    <p>A <a href="#">former relevant child</a> is entitled to this. </p>
    <p>If you are a <a href="#">relevant child</a> or <a href="#">eligible child</a>, you will be eligible for this when you turn 18.</p>
    {{ govukInsetText({
      text: "You'll need to check if you're entitled to this support"
    }) }}

    <h2 class="govuk-heading-l" id="what-it-is">What care leavers allowance is</h2>
    <p>Care leavers allowance is a payment you get when you leave care.</p>
    <p>It's sometimes called 'setting up home allowance'.</p>
    <p>It helps you buy stuff for your home.</p>

    <h2 class="govuk-heading-l" id="how-much">How much you'll get</h2>
    <p>Minimum of 3K</p>
    <p>How much you get depends on your local council and level of need </p>

    <h2 class="govuk-heading-l" id="how-and-when">How and when you'll get it</h2>
    <p>Your PA should set this up for you</p>
    <p>You get it when you turn 18</p>
    <p>You get it over 2 payments annually, as equal in amount as possible</p>

    <h2 class="govuk-heading-l" id="other-support">If you're receiving other support</h2>
    <p>It is your legal right to receive this support</p>
    <p>You should get this support even if</p>
    <ul>
      <li>you are already receiving benefits or other financial support</li>
      <li>you are in a 'stay put' arrangement</li>
    </ul></p>
    <p></p>

    <h2 class="govuk-heading-l" id="issues">Issues with this support</h2>
    <p>If you never recieved this support, speak to your personal advisor or someone from your local council.</p>
    <p>It is your legal right to get this support if you're entitled to it.</p>
    <p>If you want to escalate to a complaint, this is the 3-stage process...</p>
    <p>Stage 1 is...</p>
    <P>Stage 2 is...</p>
    <p>Stage 3 is...</p>

    <h2 class="govuk-heading-l" id="further-info">Further information</h2>
    <p>To find out more about care leavers allowance, speak to your local council.</p>

  </div>
  <div class="govuk-grid-column-one-third">
    <div class="gem-c-related-navigation">
      <h2 class="govuk-heading-s" style="margin-top: 15px;">
        Related support
      </h2>
      <nav>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link govuk-body-s" href="#">Specific support no2</a>
        </li>
        <li>
          <a class="govuk-link govuk-body-s" href="#">Specific support no3</a>
        </li>
        <li>
          <a class="govuk-link govuk-body-s" href="#">Specific support no4</a>
        </li>
        <li>
          <a class="govuk-link govuk-body-s" href="#">Specific support no5</a>
        </li>
        <li>
          <a class="govuk-link govuk-body-s" href="#">Specific support no6</a>
        </li>
      </ul>
    </nav>
    </div>
  </div>
</div>
  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <section class="dfe-section govuk-!-margin-top-5">
       <div class="govuk-width-container">
          <h2 class="govuk-heading-l">Further support</h2>
          <div class="dfe-grid-container dfe-grid-container--wider govuk-!-margin-top-5">
             <div class="dfe-card">
                <div class="dfe-card-container">
                   <h3 class="govuk-heading-m">
                      <a href="/all-support" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">View all support</a>
                   </h3>
                   <p>[with short description, including they need to go through checker]</p>
                </div>
             </div>
             <div class="dfe-card">
                <div class="dfe-card-container">
                   <h3 class="govuk-heading-m">
                      <a href="/leaving-care-process" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Leaving care process</a>
                   </h3>
                   <p>Aenean vehicula dolor leo, laoreet malesuada ipsum tincidunt et. Nullam sed ornare dolor. Vestibulum tincidunt nisi vitae pellentesque elementum.</p>
                </div>
             </div>
             <div class="dfe-card">
                <div class="dfe-card-container">
                   <h3 class="govuk-heading-m">
                      <a href="/help-and-advice" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Help and advice</a>
                   </h3>
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum purus in vehicula elementum. Praesent neque ipsum, interdum non fringilla at, iaculis sed erat. 
                   </p>
                </div>
             </div>
          </div>
       </div>
    </section>
    
  </div>
</div>

{% endblock %}
