{% set view = 'All support' %}

{% extends "/layouts/dfe-service-v03.html" %}

{% set pageName="Health and wellbeing support" %}

{% block header %}


<div class="govuk-width-container">
  <div cLass="govuk-phase-banner">
    <p Class="translate" claSs="govuk-body-s"><a hrEf="#" class="govuk-link">English</a></p>
    
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.
      </span>
    </p>
  </div>
</div>




{{ header({
    "showNav": "true",
    "showSearch": "false",
    "showHeaderActionLinks": "false",
    "logoPath": "public/images",
    "searchAction": "/search/",
    "searchInputName": "q",
    "logoAltText": "Department for Education",
    "homeHref": "/",
    "selectedNav": view,
    "service": {
      "name": "Support for care leavers",
      "serviceUrl": "/home"
    },
    "headerActionLinks": [
      {
        "url"  : "/",
        "label" : "My account"
      },
      {
        "url"  : "/",
        "label" : "Sign out"
      }
    ],
    "primaryLinks": [
        {
        "url"  : "home",
        "label" : "Home"
      }, {
        "url"  : "all-support",
        "label" : "All support"
      },  {
        "url"  : "status",
        "label" : "Your rights"
      },  {
        "url"  : "guides-advice",
        "label" : "Leaving care guides"
      }, {
        "url"  : "helplines",
        "label" : "Helplines"
      }
    ]
  })
}}


<section class="dfe-page-grey">
   <div class="govuk-width-container">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-two-thirds">
          <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="find-support">Home</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="all-support">All support</a>
              </li>

            </ol>
          </nav>

           <h1 class="govuk-heading-xl">Health and wellbeing support</h1>
    <p class="govuk-body-l">Support with your health, wellbeing and disability needs</p>
          
         </div>
      </div>
   </div>
</section>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <section>
      <h2 class="govuk-heading-l">Care leaver support</h2>
      <p class="govuk-body">Support you might get if you have been in care or ‘looked after’</p>
      
      <h3 class="govuk-heading-m" style="margin-top:30px;">Help with your health</h3>
      <h4 class="govuk-heading-s" style="margin-top:30px;"><a href="support-personal-adviser" class="govuk-link">Personal adviser (PA)</a></h4>
      <p class="govuk-body">Someone who supports and prepares you as you leave care</p>
      <hr style="margin-top:30px;">
      <h4 class="govuk-heading-s" style="margin-top:30px;"><a href="support-pathway-plan" class="govuk-link">Pathway Plan</a></h4>
      <p class="govuk-body">A plan for your future that you do with your personal adviser</p>
      <hr style="margin-top:30px;">
      <h4 class="govuk-heading-s" style="margin-top:30px;"><a href="https://mycovenant.org.uk/" class="govuk-link" target="_blank">Care Leaver Covenant <span class="govuk-body-s">(Opens in a new tab)</span></a></h4>
      <p class="govuk-body">Opportunities and offers for care leavers, including jobs, apprenticeships and discounts</p>
    </section>

    <section class="dfe">
      <h2 class="govuk-heading-l">Local support</h2>
      <p class="govuk-body">You might get support from your local council’s Local Offer for care leavers</p>
      <p class="govuk-body">For example, this could include things like:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>money for medication, the dentist or eyecare (like glasses or contact lenses)</li>
        <li>mental health support like counselling</li>
        <li>free or discounted membership for the gym or other leisure activities</li>
      </ul>
      <p class="govuk-body"><a class="govuk-link" href="local-offer">Find out more about Local Offers</a></p>
    </section>

    <section class="dfe">
      <div class="govuk-!-margin-top-5 govuk-!-margin-bottom-5">
        <div class="govuk-grid-row split-panel">
          <div class="govuk-grid-column-one-half image-column">
            <div class="image-container" style="background-image: url('/public/images/care-leavers-05.jpg');"></div>
          </div>
          <div class="govuk-grid-column-one-half text-column">
            <h2 class="govuk-heading-m"><a href="status">You might have the right to support</a></h2>
            <p class="govuk-body">Local councils use ‘care leaver status’ to work out what support you have the right to.</p>
            <p class="govuk-body">
              <a href="status">Check your care leaver status</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="dfe">
      <h2 class="govuk-heading-l">More support</h2>
      <p class="govuk-body">Support that your personal adviser can help you apply for:</p>
      <h3 class="govuk-heading-s" style="margin-top:30px;"><a href="https://www.gov.uk/pip" class="govuk-link" target="_blank">Personal Independence Payment (PIP) <span class="govuk-body-s">(Opens in a new tab)</span></a></h3>
      <p class="govuk-body">To help you with living costs if you have a disability, illness or health condition and difficulties with daily living or mobility.</p>
      <hr style="margin-top:30px;">
      <h3 class="govuk-heading-s" style="margin-top:30px;"><a href="https://www.gov.uk/access-to-work" class="govuk-link" target="_blank">Access to Work <span class="govuk-body-s">(Opens in a new tab)</span></a></h3>
      <p class="govuk-body">To help get you into or stay in work if you have a physical or mental health condition or disability.</p>
      <hr style="margin-top:30px;">
      <h3 class="govuk-heading-s" style="margin-top:30px;"><a href="https://www.gov.uk/disabled-students-allowances-dsas" class="govuk-link" target="_blank">Disabled students allowance <span class="govuk-body-s">(Opens in a new tab)</span></a></h3>
      <p class="govuk-body">Help with extra support costs needed to study because you have a disability, illness or health condition.</p>
      <hr style="margin-top:30px;">
      <h3 class="govuk-heading-s" style="margin-top:30px;"><a href="https://www.gov.uk/work-health-programme" class="govuk-link" target="_blank">Work and health programme <span class="govuk-body-s">(Opens in a new tab)</span></a></h3>
      <p class="govuk-body">Help finding and keeping a job if you’re out of work.</p>
    </section>


    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

    <div class="gem-c-metadata" data-module="gem-toggle metadata" data-gem-toggle-module-started="true" data-metadata-module-started="true">
      <dl class="gem-c-metadata__list">
        <dt class="gem-c-metadata__term">From:</dt>
          <dd class="gem-c-metadata__definition">
            <a class="govuk-link" href="https://www.gov.uk/government/organisations/department-for-education">Department for Education</a>
          </dd>
          <dt class="gem-c-metadata__term">Published</dt>
          <dd class="gem-c-metadata__definition">07 October 2024</dd>
          <dt class="gem-c-metadata__term">Last updated</dt>
          <dd class="gem-c-metadata__definition">25 October 2024</dd>
      </dl>
    </div>
    <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-8">
      <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link" data-print-link-module-started="true">Print this page</button>
    </div>
    <a href="#"><img class="full-width-image" alt="Care" src="/public/images/share.png" style="max-width: 300px;"></a>

  </div>
  <div class="govuk-grid-column-one-third">
    <!-- Additional content or side information can go here -->
  </div>
</div>

{% endblock %}