{% set view = 'All support' %}

{% extends "/layouts/dfe-service-v03.html" %}

{% set pageName="Money and benefits" %}

{% block header %}


<div class="govuk-width-container">
  <div cLass="govuk-phase-banner">
    <p Class="translate" claSs="govuk-body-s"><a hrEf="choose-language" class="govuk-link">English</a></p>
    
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.
      </span>
    </p>
  </div>
</div>




{{ header({
    "showNav": "true",
    "showSearch": "false",
    "showHeaderActionLinks": "false",
    "logoPath": "public/images",
    "searchAction": "/search/",
    "searchInputName": "q",
    "logoAltText": "Department for Education",
    "homeHref": "home",
    "selectedNav": view,
    "service": {
      "name": "Support for care leavers"
    }
  })
}}

{{ govukServiceNavigation({
  navigation: [
    {
      href: "home",
      text: "Home"
    },
    {
      href: "all-support",
      text: "All support",
      active: true
    },
    {
      href: "status",
      text: "Your rights"
    },
    {
      href: "guides-advice",
      text: "Leaving care guides"
    },
    {
      href: "helplines",
      text: "Helplines"
    }
  ]
}) }}


<section class="dfe-page-grey">
   <div class="govuk-width-container">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-two-thirds">
          <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="find-support">Home</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="all-support">All support</a>
              </li>

            </ol>
          </nav>

           <h1 class="govuk-heading-xl">Money and benefits</h1>
    <p class="govuk-body-l">Help with money and benefits you can apply for</p>
          
         </div>
      </div>
   </div>
</section>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <section>
      <h2 class="govuk-heading-l">Care leaver support</h2>
      <p class="govuk-body">Support you might get if you have been in care or ‘looked after’</p>
      
      <h3 class="govuk-heading-m" style="margin-top:30px;">Help with money</h3>
      <h4 class="govuk-heading-s" style="margin-top:30px;"><a href="leaving-care-allowance" class="govuk-link">Leaving Care Allowance</a></h4>
      <p class="govuk-body">Money to set up your next home (also called ‘Setting Up Home Allowance’)</p>
      <hr style="margin-top:30px;">
      <h4 class="govuk-heading-s" style="margin-top:30px;"><a href="https://www.gov.uk/government/publications/junior-individual-saving-accounts-for-looked-after-children#:~:text=Children%20who%20have%20been%20in,government%20into%20a%20Junior%20ISA." class="govuk-link" target="_blank">Junior Individual Savings Account (ISA) <span class="govuk-body-s">(Opens in a new tab)</span></a></h4>
      <p class="govuk-body">A bank account containing money you can get from your 18th birthday</p>
      <hr style="margin-top:30px;">
      <h4 class="govuk-heading-s" style="margin-top:30px;"><a href="support-he-bursary" class="govuk-link">Higher Education Bursary</a></h4>
      <p class="govuk-body">Money to help you go to university or college</p>
      <hr style="margin-top:30px;">
      <h4 class="govuk-heading-s" style="margin-top:30px;"><a href="https://www.gov.uk/government/publications/apprenticeships-bursary-for-care-leavers/apprenticeships-care-leavers-bursary-policy-summary" class="govuk-link" target="_blank">Apprenticeships Care Leavers’ Bursary <span class="govuk-body-s">(Opens in a new tab)</span></a></h4>
      <p class="govuk-body">Money to help you if you're doing an apprenticeship</p>
    </section>

    <section class="dfe">  
      <h3 class="govuk-heading-m">Managing your money</h3>
      <h4 class="govuk-heading-s" style="margin-top:30px;"><a href="support-personal-adviser" class="govuk-link">Personal adviser (PA)</a></h4>
      <p class="govuk-body">Someone who guides you on how to manage your money and helps you get support</p>
      <hr style="margin-top:30px;">
      <h4 class="govuk-heading-s" style="margin-top:30px;"><a href="support-pathway-plan" class="govuk-link">Pathway Plan</a></h4>
      <p class="govuk-body">A plan you make with your PA that covers how to manage your money and get support you need</p>
    </section>

    <section class="dfe">
      <h3 class="govuk-heading-l">Local support</h3>
      <p class="govuk-body">You might get support from your local council’s Local Offer for care leavers</p>
      <p class="govuk-body">For example, this could include things like:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>money for your birthday</li>
        <li>help paying for your driving lessons or driving test</li>
        <li>money for living costs to cover food, travel and essential clothes</li>
      </ul>
      <p class="govuk-body"><a class="govuk-link" href="local-offer">Find out more about Local Offers</a></p>
    </section>

    <section class="dfe">
      <div class="govuk-!-margin-top-5 govuk-!-margin-bottom-5">
        <div class="govuk-grid-row split-panel">
                  
          <div class="govuk-grid-column-one-half text-column">
            <h3 class="govuk-heading-m">Know what support you can get</h3>
            <p class="govuk-body">Use your 'care leaver status' to find out what support you have the right to.</p>
            <p class="govuk-body">
              <a href="status">Check your care leaver status</a>
            </p>
          </div>
          <div class="govuk-grid-column-one-half image-column">
            <div class="image-container" style="background-image: url('/public/images/care-leavers-05.jpg');"></div>
          </div>
        </div>
      </div>
    </section>

    <section class="dfe">
      <h2 class="govuk-heading-l">More support</h2>
      <p class="govuk-body">Support that your personal adviser can help you apply for:</p>
      <h3 class="govuk-heading-s" style="margin-top:30px;"><a href="https://www.gov.uk/universal-credit" class="govuk-link" target="_blank">Universal Credit <span class="govuk-body-s">(Opens in a new tab)</span></a></h3>
      <p class="govuk-body">A payment to help you with living costs if you’re on a low income, out of work or cannot work.</p>
      <hr style="margin-top:30px;">
      <h3 class="govuk-heading-s" style="margin-top:30px;"><a href="https://www.gov.uk/pip" class="govuk-link" target="_blank">Personal Independence Payment (PIP) <span class="govuk-body-s">(Opens in a new tab)</span></a></h3>
      <p class="govuk-body">To help you with living costs if you have a disability, illness or health condition and difficulties with daily living or mobility.</p>
      <hr style="margin-top:30px;">
      <h3 class="govuk-heading-s" style="margin-top:30px;"><a href="https://www.gov.uk/government/publications/claiming-discretionary-housing-payments/claiming-discretionary-housing-payments" class="govuk-link" target="_blank">Discretionary Housing Payment (DHP) <span class="govuk-body-s">(Opens in a new tab)</span></a></h3>
      <p class="govuk-body">A payment to help you with rent or housing costs.</p>
      <hr style="margin-top:30px;">
      <h3 class="govuk-heading-s" style="margin-top:30px;"><a href="https://www.gov.uk/apply-council-tax-reduction" class="govuk-link" target="_blank">Council tax support <span class="govuk-body-s">(Opens in a new tab)</span></a></h3>
      <p class="govuk-body">Apply to your local council for a reduction on your council tax bill.</p>
    </section>

    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

    <div class="gem-c-metadata" data-module="gem-toggle metadata" data-gem-toggle-module-started="true" data-metadata-module-started="true">
      <dl class="gem-c-metadata__list">
        <dt class="gem-c-metadata__term">From:</dt>
          <dd class="gem-c-metadata__definition">
            <a class="govuk-link" href="https://www.gov.uk/government/organisations/department-for-education">Department for Education</a>
          </dd>
          <dt class="gem-c-metadata__term">Published</dt>
          <dd class="gem-c-metadata__definition">07 October 2024</dd>
          <dt class="gem-c-metadata__term">Last updated</dt>
          <dd class="gem-c-metadata__definition">25 October 2024</dd>
      </dl>
    </div>
    <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-8">
      <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link" data-print-link-module-started="true">Print this page</button>
    </div>
    <a href="#"><img class="full-width-image" alt="Care" src="/public/images/share.png" style="max-width: 300px;"></a>

  </div>
  <div class="govuk-grid-column-one-third">
    <!-- Additional content or side information can go here -->
  </div>
</div>

{% endblock %}
