{% set view = 'Leaving care guides' %}

{% extends "/layouts/dfe-service-v03.html" %}

{% set pageName="Guides - Leaving care process" %}

{% block header %}

<div class="govuk-width-container">
  <div cLass="govuk-phase-banner">
    <p Class="translate" claSs="govuk-body-s"><a hrEf="#" class="govuk-link">English</a></p>
    
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.
      </span>
    </p>
  </div>
</div>


{{ header({
    "showNav": "true",
    "showSearch": "false",
    "showHeaderActionLinks": "false",
    "logoPath": "public/images",
    "searchAction": "/search/",
    "searchInputName": "q",
    "logoAltText": "Department for Education",
    "homeHref": "/",
    "selectedNav": view,
    "service": {
      "name": "Support for care leavers",
      "serviceUrl": "/"
    },
    "headerActionLinks": [
      {
        "url"  : "/",
        "label" : "My account"
      },
      {
        "url"  : "/",
        "label" : "Sign out"
      }
    ],
    "primaryLinks": [
        {
        "url"  : "home",
        "label" : "Home"
      }, {
        "url"  : "all-support",
        "label" : "All support"
      },  {
        "url"  : "status",
        "label" : "Your rights"
      },  {
        "url"  : "guides-advice",
        "label" : "Leaving care guides"
      }, {
        "url"  : "helplines",
        "label" : "Helplines"
      }
    ]
  })
}}


<section class="dfe-page-grey">
   <div class="govuk-width-container">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-three-quarters2">
            <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="home">Home</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="guides-advice">Leaving care guides</a>
              </li>
            </ol>
          </nav>
          
          <h1 class="govuk-heading-xl">What happens when you leave care</h1>
          <p class="govuk-body-l">What to expect as you prepare to leave care to begin independent life.</p>

         </div>
      </div>
   </div>
</section>


{% endblock %}



{% block content %}

<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">

      <h4 class="govuk-heading-s">Contents</h4>
      <ul class="govuk-list contents">
          <li class="govuk-body-s"><a href="#who-this-guide-is-for">Who this guide is for</a></li>
          <li class="govuk-body-s"><a href="#what-happens-and-when">What happens and when</a></li>
          <li class="govuk-body-s"><a href="#meeting-your-personal-adviser">Meeting your personal adviser</a></li>
          <li class="govuk-body-s"><a href="#checking-what-support-you-need">Checking what support you need</a></li>
          <li class="govuk-body-s"><a href="#making-your-pathway-plan">Making your Pathway Plan</a></li>
          <li class="govuk-body-s"><a href="#discussing-your-future">Discussing your future</a></li>
          <li class="govuk-body-s"><a href="#support-after-you-leave-care">Support after you leave care</a></li>
      </ul>

      <section id="who-this-guide-is-for" class="bluebox">
          <h2 class="govuk-heading-l">Who this guide is for</h2>
          <p class="govuk-body">What happens when you leave care depends on:</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>your <a href="status" class="govuk-link">care leaver status</a></li>
              <li>how your local council does things</li>
          </ul>
          <p class="govuk-body">This guide is for you if your status is:</p>
          <ul class="govuk-list govuk-list--bullet">
              <li><a href="status-eligible-child" class="govuk-link">eligible child</a></li>
              <li><a href="status-relevant-child" class="govuk-link">relevant child</a></li>
              <li><a href="status-former-relevent-child" class="govuk-link">former relevant child</a></li>
          </ul>
      </section>

      <section id="what-happens-and-when" class="bluebox">
          <h2 class="govuk-heading-l">What happens and when</h2>
          <p class="govuk-body">Leaving care can feel like a challenging time, but your council's leaving care team must support and prepare you.</p>
          <p class="govuk-body">Normally, you’ll:</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>start getting ready to leave care at 16 or 17</li>
              <li>leave care aged 18</li>
              <li>get support until 21, or 25 if you ask</li>
          </ul>
      </section>

      <section id="meeting-your-personal-adviser" class="bluebox">
          <h2 class="govuk-heading-l">Meeting your personal adviser</h2>
          <p class="govuk-body">A <a href="support-personal-adviser" class="govuk-link">personal adviser (PA)</a> helps to prepare you for leaving care and keeps supporting you afterwards. They must explain what support you have the right to and help you get access to it.</p>

          <h3 class="govuk-heading-m">When you’ll meet them</h3>
          <p class="govuk-body">You might meet your PA when you’re 16 or 17. Your social worker must introduce you to them before you leave care.</p>
          <p class="govuk-body">They must meet with you at least once every 8 weeks to work on your Pathway Plan.</p>
      </section>

      <section id="checking-what-support-you-need" class="bluebox">
          <h2 class="govuk-heading-l">Checking what support you need</h2>
          <p class="govuk-body">You’ll have a 'needs assessment' to find out what help and services you’ll need when you leave care. This will be added into your Pathway Plan.</p>
      </section>

      <section id="making-your-pathway-plan" class="bluebox">
          <h2 class="govuk-heading-l">Making your Pathway Plan</h2>
          <p class="govuk-body">You’ll make a <a href="support-pathway-plan" class="govuk-link">Pathway Plan</a> to set what support you might need, and your plans and goals for when you leave care.</p>
          <p class="govuk-body">Your council must review it with you at least once every 6 months. However, you or your Personal Advisor can request a review at any time. </p>
      </section>

      <section id="discussing-your-future" class="bluebox">
          <h2 class="govuk-heading-l">Discussing your future</h2>
          <p class="govuk-body">Before you leave care, you'll have a ‘statutory review meeting’ to chat about your future. You’ll talk about things like:</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>where you’ll live</li>
              <li>if you want to stay in education or training, or find a job</li>
              <li>what support you’ll need</li>
          </ul>

          <h3 class="govuk-heading-m">Who will be at the meeting?</h3>
          <p class="govuk-body">The meeting must include:</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>you</li>
              <li>your PA</li>
              <li>your social worker</li>
              <li>an independent reviewing officer (they check things are done properly)</li>
          </ul>
          <p class="govuk-body">It might also include:</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>any carers</li>
              <li>professionals, like a teacher or doctor</li>
              <li>an advocate (someone to explain your rights and speak up for you), if you ask for one</li>
              <li>any other people that support you</li>
          </ul>
      </section>

      <section id="support-after-you-leave-care" class="bluebox">
          <h2 class="govuk-heading-l">Support after you leave care</h2>
          <p class="govuk-body">Your PA must continue to support you until you're 21. They must meet with you at least once every 8 weeks.</p>
          <p class="govuk-body">If you want them to support you until your 25th birthday, you must ask them to (opt-in).</p>
          <p class="govuk-body">To find out what other support you could get, <a href="all-support" class="govuk-link">view all support</a>.</p>
      </section>

        
      <hr>

 <div class="metadata-logo-wrapper">
  <div class="govuk-grid-column-two-thirds metadata-column">
    <div class="gem-c-metadata" data-module="gem-toggle metadata" data-gem-toggle-module-started="true" data-metadata-module-started="true">
      <dl class="gem-c-metadata__list">
        <dt class="gem-c-metadata__term">From:</dt>
          <dd class="gem-c-metadata__definition">
            <a class="govuk-link" href="https://www.gov.uk/government/organisations/department-for-education">Department for Education</a>
          </dd>
          <dt class="gem-c-metadata__term">Published</dt>
          <dd class="gem-c-metadata__definition">07 October 2024</dd>
          <dt class="gem-c-metadata__term">Last updated</dt>
          <dd class="gem-c-metadata__definition">25 October 2024</dd>
      </dl>
    </div>
    <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-8">
        <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link" data-print-link-module-started="true">Print this page</button>
    </div>
  </div>
</div>
<a href="#"><img class="full-width-image" alt="Care" src="/public/images/share.png" style="max-width: 300px;"></a>




</div>
<div class="govuk-grid-column-one-third">
  

</div>
</div>
<div class="govuk-grid-row">
   <div class="govuk-grid-column-full">
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

          <section class="dfe-section govuk-!-margin-top-5">
             <div class="govuk-width-container">
                <h2 class="govuk-heading-m">Helpful links</h2>
                <div class="dfe-grid-container dfe-grid-container--wider govuk-!-margin-top-5">

                  <div class="hf-card">
                     <a href="category-housing">
                        <div class="hf-card-container">
                           <img class="full-width-image" alt="Support for practitioners thumbnail" src="/public/images/view-support.jpg">
                           <div class="hf-card-details">
                              <h3 class="govuk-heading-m">Housing and accommodation</h3>
                              <p class="govuk-body">Help with housing costs and finding somewhere to live</p>
                           </div>
                        </div>
                     </a>
                  </div>

                  <div class="hf-card">
                     <a href="guide-leaving-care">
                        <div class="hf-card-container">
                           <img class="full-width-image" alt="Support for practitioners thumbnail" src="/public/images/guide-planning-your-finances.jpg">
                           <div class="hf-card-details">
                              <h3 class="govuk-heading-m">Money and benefits support </h3>
                              <p class="govuk-body">Help with money and benefits you can apply for</p>
                           </div>
                        </div>
                     </a>
                  </div>

                  <div class="hf-card">
                     <a href="status">
                        <div class="hf-card-container">
                           <img class="full-width-image" alt="Support for practitioners thumbnail" src="/public/images/care-leavers-03.jpg">
                           <div class="hf-card-details">
                              <h3 class="govuk-heading-m">All support</h3>
                              <p class="dfe-body-m">Support to help you prepare to leave care</p>
                           </div>
                        </div>
                     </a>
                  </div>

                </div>
             </div>
          </section>
    
  </div>
  
</div>


{% endblock %}
