{% set view = 'Find support' %}

{% extends "/layouts/dfe-service-v03.html" %}

{% set pageName="Local offer" %}

{% block header %}

<div class="govuk-width-container">
  <div cLass="govuk-phase-banner">
    <p Class="translate" claSs="govuk-body-s"><a hrEf="choose-language" class="govuk-link">English</a></p>
    
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.
      </span>
    </p>
  </div>
</div>


{{ header({
    "showNav": "true",
    "showSearch": "false",
    "showHeaderActionLinks": "false",
    "logoPath": "public/images",
    "searchAction": "/search/",
    "searchInputName": "q",
    "logoAltText": "Department for Education",
    "homeHref": "home",
    "selectedNav": view,
    "service": {
      "name": "Support for care leavers"
    }
  })
}}

{{ govukServiceNavigation({
  navigation: [
    {
      href: "home",
      text: "Home"
    },
    {
      href: "all-support",
      text: "All support",
      active: true
    },
    {
      href: "status",
      text: "Your rights"
    },
    {
      href: "guides-advice",
      text: "Leaving care guides"
    },
    {
      href: "helplines",
      text: "Helplines"
    }
  ]
}) }}


<section class="dfe-page-grey">
   <div class="govuk-width-container">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-two-thirds">
            <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="home">Home</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="all-support">All support</a>
              </li>

            </ol>
          </nav>

          <h1 class="govuk-heading-xl">Local Offer for care leavers</h1>
          <p class="govuk-body-l">Find out about how every local council has a Local Offer for care leavers and what it might include.</p>

         </div>
      </div>
   </div>
</section>


{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h4 class="govuk-heading-s">Contents</h4>
    <ul class="govuk-list contents">
        <li class="govuk-body-s"><a href="#what-is-a-local-offer">What is a Local Offer?</a></li>
        <li class="govuk-body-s"><a href="#who-is-it-for">Who is it for?</a></li>
        <li class="govuk-body-s"><a href="#whats-included-in-it">What’s included in it?</a></li>
        <li class="govuk-body-s"><a href="#how-and-when-will-i-get-it">How and when will I get it?</a></li>
        <li class="govuk-body-s"><a href="#issues-with-your-local-offer">Issues with your Local Offer</a></li>
        <li class="govuk-body-s"><a href="#who-is-my-local-council">Who is my Local Council?</a></li>
    </ul>

    <section id="what-is-a-local-offer" class="bluebox">
        <h2 class="govuk-heading-l">What is a Local Offer?</h2>
        <p class="govuk-body">A Local Offer for care leavers is a support package your council gives you when you leave care. It's unique to each council, so some support and services will vary.</p>
    </section>

    <section id="who-is-it-for" class="bluebox">
        <h2 class="govuk-heading-l">Who is it for?</h2>
        <p class="govuk-body">You have the right to get the Local Offer (you’re entitled to it) if your care leaver status is:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="status#eligible-child" class="govuk-link">eligible child</a></li>
            <li><a href="status#relevant-child" class="govuk-link">relevant child</a></li>
            <li><a href="status#former-relevant-child" class="govuk-link">former relevant child</a></li>
        </ul>
        <p class="govuk-body">The Local Offer is for people living in England. Scotland, Wales and Northern Ireland have similar support packages for care leavers.</p>
    </section>

    <section id="whats-included-in-it" class="bluebox">
        <h2 class="govuk-heading-l">What’s included in it?</h2>
        <p class="govuk-body">A Local Offer must include information around support and services that help you:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>find somewhere to live</li>
            <li>pay for living costs</li>
            <li>find and stay in work, education or training</li>
            <li>take care of your health and wellbeing</li>
            <li>develop positive relationships and support networks</li>
            <li>be an active part of your community</li>
        </ul>
        <p class="govuk-body">It must cover:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>support you have the right to (based on your care leaver status)</li>
            <li>any extra support from your council</li>
        </ul>

        <h3 class="govuk-heading-m">Extra support</h3>
        <p class="govuk-body">Each council can offer extra support, which could include things like:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>help with housing costs, like council tax support</li>
            <li>mental health support, like counselling or other talking therapies</li>
            <li>help with travel, like a bus pass or free driving lessons</li>
        </ul>
    </section>

    <section id="how-and-when-will-i-get-it" class="bluebox">
        <h2 class="govuk-heading-l">How and when will I get it?</h2>
        <p class="govuk-body">Your Local Offer comes from the council of the area you lived in when you first went into care. Your <a href="support-personal-adviser" class="govuk-link">personal adviser (PA)</a> must show you the Local Offer before you leave care.</p>
        <p class="govuk-body">You might get it:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>as a printed booklet or leaflet</li>
            <li>on the council’s website</li>
            <li>in different languages</li>
        </ul>

        <h3 class="govuk-heading-m">If you move areas</h3>
        <p class="govuk-body">If you move to a new council, your old council must still give you their Local Offer. Both councils might work together to provide you with the right support in your new area.</p>
    </section>

    <section id="issues-with-your-local-offer" class="bluebox">
        <h2 class="govuk-heading-l">Issues with your Local Offer</h2>
        <p class="govuk-body">If you have an issue with your Local Offer, talk to your PA, or someone from your council. It might be that you:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>were not told about your Local Offer</li>
            <li>are struggling to get support included in it</li>
            <li>have moved so are not sure what support you can get</li>
        </ul>
        <p class="govuk-body">If you’re still not happy, you can <a href="https://www.childrenscommissioner.gov.uk/help-at-hand/help-information-advice/i-am-a-care-leaver/#how-do-I-make-a-complaint" target="_blank" class="govuk-link">make a complaint <span class="govuk-body-s">(Opens in a new tab)</span></a>.</p>
    </section>

    <section id="who-is-my-local-council" class="bluebox">
        <h2 class="govuk-heading-l">Who is my local council?</h2>
        <p class="govuk-body">Use the postcode of where you lived when you went into care to <a href="https://www.gov.uk/find-local-council" class="govuk-link" target="_blank">find your council <span class="govuk-body-s">(opens in a new tab)</span></a>.</p>
    </section>

              <hr>

<div class="metadata-logo-wrapper">
  <div class="govuk-grid-column-two-thirds metadata-column">
    <div class="gem-c-metadata" data-module="gem-toggle metadata" data-gem-toggle-module-started="true" data-metadata-module-started="true">
      <dl class="gem-c-metadata__list">
        <dt class="gem-c-metadata__term">From:</dt>
          <dd class="gem-c-metadata__definition">
            <a class="govuk-link" href="https://www.gov.uk/government/organisations/department-for-education">Department for Education</a>

          </dd>
          <dt class="gem-c-metadata__term">Published</dt>
          <dd class="gem-c-metadata__definition">07 October 2024</dd>
          <dt class="gem-c-metadata__term">Last updated</dt>
          <dd class="gem-c-metadata__definition">25 October 2024</dd>
      </dl>
    </div>
    <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-8">
      <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link" data-print-link-module-started="true">Print this page</button>
    </div>
  </div>
</div>
<a href="#"><img class="full-width-image" alt="Care" src="/public/images/share.png" style="max-width: 300px;"></a>


  </div>
  <div class="govuk-grid-column-one-third">

  </div>

<div class="govuk-grid-row">
   <div class="govuk-grid-column-full">
      <!-- <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"> -->

          <section class="dfe-section govuk-!-margin-top-5">
             <div class="govuk-width-container">
                <h2 class="govuk-heading-l">Helpful links</h2>
                <div class="dfe-grid-container dfe-grid-container--wider govuk-!-margin-top-5">

                  <div class="hf-card">
                     <a href="all-support">
                        <div class="hf-card-container">
                           <img class="full-width-image" alt="Support for practitioners thumbnail" src="/public/images/view-support.jpg">
                           <div class="hf-card-details">
                              <h3 class="govuk-heading-m">View all support</h3>
                              <p class="govuk-body">Browse through the different types of support available to you</p>
                           </div>
                        </div>
                     </a>
                  </div>

                  <div class="hf-card">
                     <a href="guide-leaving-care">
                        <div class="hf-card-container">
                           <img class="full-width-image" alt="Support for practitioners thumbnail" src="/public/images/which-council.jpg">
                           <div class="hf-card-details">
                              <h3 class="govuk-heading-m">Not sure which local council should be supporting you?</h3>
                              <p class="govuk-body">Check who your local council is</p>
                           </div>
                        </div>
                     </a>
                  </div>

                  <div class="hf-card">
                     <a href="status">
                        <div class="hf-card-container">
                           <img class="full-width-image" alt="Support for practitioners thumbnail" src="/public/images/check-status.jpg">
                           <div class="hf-card-details">
                              <h3 class="govuk-heading-m">Check your care leaver status</h3>
                              <p class="dfe-body-m">It can help to find out what is your care leaver status</p>
                           </div>
                        </div>
                     </a>
                  </div>

                </div>
             </div>
          </section>






    
  </div>
</div>
</div>


    
  </div>
</div>



{% endblock %}
