{% set view = 'Your rights' %}
{% extends "/layouts/dfe-service-v03.html" %}

{% set pageName="Your rights" %}

{% block header %}

<div class="govuk-width-container">
  <div cLass="govuk-phase-banner">
    <p Class="translate" claSs="govuk-body-s"><a hrEf="#" class="govuk-link">English</a></p>
    
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.
      </span>
    </p>
  </div>
</div>


{{ header({
    "showNav": "true",
    "showSearch": "false",
    "showHeaderActionLinks": "false",
    "logoPath": "public/images",
    "searchAction": "/search/",
    "searchInputName": "q",
    "logoAltText": "Department for Education",
    "homeHref": "/",
    "selectedNav": view,
    "service": {
      "name": "Support for care leavers",
      "serviceUrl": "/"
    },
    "headerActionLinks": [
      {
        "url"  : "/",
        "label" : "My account"
      },
      {
        "url"  : "/",
        "label" : "Sign out"
      }
    ],
    "primaryLinks": [
       {
        "url"  : "home",
        "label" : "Home"
      }, {
        "url"  : "all-support",
        "label" : "All support"
      },  {
        "url"  : "status",
        "label" : "Your rights"
      },  {
        "url"  : "guides-advice",
        "label" : "Leaving care guides"
      }, {
        "url"  : "helplines",
        "label" : "Helplines"
      }
    ]
  })
}}


<section class="dfe-page-grey">
   <div class="govuk-width-container">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-two-thirds">
            <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="home">Home</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="status">Your rights</a>
              </li>
            </ol>
          </nav>

           <h1 class="govuk-heading-xl">
            Your rights
           </h1>

         </div>
      </div>
   </div>
</section>


{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


  <h2 class="govuk-heading-s">Contents</h2>
  <ul class="govuk-list">
    <li><a href="#what-is-status">What is a care leaver status?</a></li>
    <li><a href="#check-status">Check your care leaver status</a></li>
    <li><a href="#status-definitions">Care leaver status definitions</a></li>
    <li><a href="#no-status">If you do not have a status</a></li>
  </ul>

  <h2 id="what-is-status" class="govuk-heading-l">What is a care leaver status?</h2>

  <h3 class="govuk-heading-m">What it’s used for</h3>
  <p class="govuk-body">Local councils use care leaver statuses to help them understand:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>what support you should get (entitlements)</li>
    <li>what your legal rights are</li>
  </ul>
  <p class="govuk-body">They help make things fair and protect you with the law.</p>

  <h3 class="govuk-heading-m">How it's worked out</h3>
  <p class="govuk-body">Your care leaver status is based on:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>how old you were when you were in care</li>
    <li>how long you were in care for</li>
  </ul>
  <p class="govuk-body">Care leaver statuses can feel complicated and confusing.</p>
  <p class="govuk-body">If you’re struggling to understand what they mean or what yours might be, you can speak to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>your <a href="#">social worker</a></li>
    <li>your <a href="#">personal advisor</a></li>
    <li>an <a href="#">independent advocate</a></li>
  </ul>


  <style>
      .status-launch {
         display: block;
         width: 99%;
         border: 1px #003a6a solid;
         background-color: #f3f2f1;
         margin: 0;
         padding: 0;
         margin-bottom:30px;
      }
      .header-side {
         background-color: #003a6a;
         padding: 15px;
      }
      .header-side h2 {
         color: white;
      }
      .header-side h2 a {
       color: white;
       text-decoration: none;
      }
      .header-side h2 a:hover {
       color: white;
       text-decoration: underline;
      }
      .body-side {
         padding: 15px;
      }
   </style>
   <div id="check-status" class="status-launch">
      <div class="header-side">
         <h2 class="govuk-heading-l">Check your care leaver status</h2>
      </div>
      <div class="body-side">
         <p class="govuk-body">To work out what support you should get, use our service to check your care leaver status.</p>
        <p class="govuk-body">This service is for you if you’re 15 to 25 and have been:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>in foster care</li>
          <li>in residential care</li>
          <li>under special guardianship</li>
          <li>in custody under the age of 18 (for example, you were in a secure children's home, secure training centre or young offender institution)</li>
          <li>came to the UK on your own to be safe (to seek Asylum)</li>
        </ul>
        <p class="govuk-body">
          <a href="entitlement-checker" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </a>
        </p>

      </div>
   </div>

  <h2 id="status-definitions" class="govuk-heading-l">Care leaver status definitions</h2>
  <p class="govuk-body">There are 4 care leaver statuses. These are:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="support-former-relevant-child">former relevant child</a></li>
    <li><a href="support-qualifying-care-leaver">qualifying care leaver</a></li>
    <li><a href="support-relevant-child">relevant child</a></li>
    <li><a href="support-eligible-child">eligible child</a></li>
  </ul>

  <h3 class="govuk-heading-m">Former relevant child</h3>
  <p class="govuk-body">You’re a ‘former relevant child’ if you:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>have left care</li>
    <li>are between 18 and 25</li>
    <li>were in care for more than 13 weeks between the age of 14 to 16 (this does not include any time after your 16th birthday)</li>
  </ul>

  <h3 class="govuk-heading-m">Qualifying care leaver</h3>
  <p class="govuk-body">You’re a ‘qualifying care leaver’ if you:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>have left care</li>
    <li>are 16 to 21, or 25 and still in full-time education</li>
    <li>were in care after the age of 16 for at least 3 months (you can include the time before your 16th birthday)</li>
  </ul>

  <h4 class="govuk-heading-s">If you’re under a Special Guardianship Order</h4>
  <p class="govuk-body">Special Guardianship Order means a court has told someone other than your parents must care for you.</p>
  <p class="govuk-body">You’re also a qualifying child if you’re under 18 and have a Special Guardianship Order in place.</p>
  <p class="govuk-body">You’re also a qualifying child if you’re 18 or older and:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>had a Special Guardianship Order when you turned 18</li>
    <li>were in care before the Special Guardianship Order started</li>
  </ul>
  <p class="govuk-body">Qualifying care leavers are sometimes called:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>‘qualifying child’</li>
    <li>‘qualifying young person’</li>
    <li>‘person qualifying for advice and assistance’</li>
  </ul>

  <h3 class="govuk-heading-m">Relevant child</h3>
  <p class="govuk-body">You’re a ‘relevant child’ if you:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>have left care</li>
    <li>are 16 or 17</li>
    <li>were in care for more than 13 weeks between the age of 14 to 16 (this does not include any time after your 16th birthday)</li>
    <li>have not lived with a parent (or anyone who has <a href="https://www.gov.uk/parental-rights-responsibilities" target="_blank">parental responsibility</a>) for more than 6 months</li>
  </ul>
  <p class="govuk-body">You are still a relevant child even if you were:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>in custody when you were 16 (for example, you were in a secure children's home, secure training centre or young offender institution)</li>
    <li>in hospital when you were 16</li>
  </ul>

  <h3 class="govuk-heading-m">Eligible child</h3>
  <p class="govuk-body">You’re an ‘eligible child’ if you:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>are still in care</li>
    <li>are 16 or 17</li>
    <li>spent more than 13 weeks in care between the age of 14 to 16 (this does not include any time after your 16th birthday)</li>
  </ul>

  <h2 id="no-status" class="govuk-heading-l">If you do not have a status</h2>

  <h3 class="govuk-heading-m">What this means</h3>
  <p class="govuk-body">If you have been in care for less than 13 weeks, you will not have a care leaver status.</p>
  <p class="govuk-body">This is because you do not qualify for one (meet the legal requirements).</p>
  <p class="govuk-body">This does not mean you cannot call yourself a care leaver or a care-experienced person.</p>

  <h3 class="govuk-heading-m">Support you can get</h3>
  <p class="govuk-body">Having care experience can make life challenging, so you may still be able to get some support from your local council.</p>
  <p class="govuk-body">Every local council is different. They will decide what support they can give to you and what you can get from their <a href="local-offer">Local Offer</a>.</p>
  <p class="govuk-body">You will also still be able to get help from charities and services such as <a href="help-care-leaver-covenant">Care Leaver Covenant</a>.</p>

  <hr>

<div class="metadata-logo-wrapper">
  <div class="govuk-grid-column-two-thirds metadata-column">
    <div class="gem-c-metadata" data-module="gem-toggle metadata" data-gem-toggle-module-started="true" data-metadata-module-started="true">
      <dl class="gem-c-metadata__list">
        <dt class="gem-c-metadata__term">From:</dt>
          <dd class="gem-c-metadata__definition">
            <a class="govuk-link" href="https://www.gov.uk/government/organisations/department-for-education">Department for Education</a>

          </dd>
          <dt class="gem-c-metadata__term">Published</dt>
          <dd class="gem-c-metadata__definition">07 October 2024</dd>
          <dt class="gem-c-metadata__term">Last updated</dt>
          <dd class="gem-c-metadata__definition">25 October 2024</dd>
      </dl>
    </div>
    <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-8">
              <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link" data-print-link-module-started="true">Print this page</button>
          </div>
  </div>
</div>

    
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="x-govuk-related-navigation" style="margin-top: 30px;">
      <nav class="x-govuk-related-navigation__nav-section" role="navigation" aria-labelledby="related-navigation-related-content">
        <h2 class="x-govuk-related-navigation__main-heading" id="related-navigation-related-content">
          Related statuses
        </h2>
        <ul class="x-govuk-related-navigation__link-list">
          <li class="x-govuk-related-navigation__link">
            <a class="govuk-link x-govuk-related-navigation__section-link x-govuk-related-navigation__section-link--other" href="support-former-relevant-child">Former relevant child</a>
          </li>
          <li class="x-govuk-related-navigation__link">
            <a class="govuk-link x-govuk-related-navigation__section-link x-govuk-related-navigation__section-link--other" href="support-qualifying-care-leaver">Qualifying care leaver</a>
          </li>
          <li class="x-govuk-related-navigation__link">
            <a class="govuk-link x-govuk-related-navigation__section-link x-govuk-related-navigation__section-link--other" href="support-relevant-child">Relevant child</a>
          </li>
          <li class="x-govuk-related-navigation__link">
            <a class="govuk-link x-govuk-related-navigation__section-link x-govuk-related-navigation__section-link--other" href="support-eligible-child">Eligible child</a>
          </li>
          
        </ul>
      </nav>
    </div>

    <a href="#"><img class="full-width-image" alt="Care" src="/public/images/share.png" style="max-width: 300px;"></a>
  </div>
</div>



{% endblock %}
