{% set view = 'Your rights' %}
{% extends "/layouts/dfe-service-v03.html" %}

{% set pageName="Qualifying care leaver - Your rights" %}

{% block header %}

<div class="govuk-width-container">
  <div cLass="govuk-phase-banner">
    <p Class="translate" claSs="govuk-body-s"><a hrEf="choose-language" class="govuk-link">English</a></p>
    
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.
      </span>
    </p>
  </div>
</div>


{{ header({
    "showNav": "true",
    "showSearch": "false",
    "showHeaderActionLinks": "false",
    "logoPath": "public/images",
    "searchAction": "/search/",
    "searchInputName": "q",
    "logoAltText": "Department for Education",
    "homeHref": "home",
    "selectedNav": view,
    "service": {
      "name": "Support for care leavers"
    }
  })
}}

{{ govukServiceNavigation({
  navigation: [
    {
      href: "home",
      text: "Home"
    },
    {
      href: "all-support",
      text: "All support"
    },
    {
      href: "status",
      text: "Your rights",
      active: true
    },
    {
      href: "guides-advice",
      text: "Leaving care guides"
    },
    {
      href: "helplines",
      text: "Helplines"
    }
  ]
}) }}


<section class="dfe-page-grey">
   <div class="govuk-width-container">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-two-thirds">

            <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="home">Home</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="status">Your rights</a>
              </li>
            </ol>
          </nav>

           <h1 class="govuk-heading-xl">
            Person qualifying for advice and assistance
           </h1>
           <p class="govuk-body-l">Find out what support you have the right to if your care leaver status is ‘person qualifying for advice and assistance’</p>

         </div>
      </div>
   </div>
</section>


{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h2 id="what-is-status" class="govuk-heading-l">Needs assessment</h2>

  <p class="govuk-body">You have the right to (you’re entitled to) a ‘needs assessment’.</p>
  <p class="govuk-body">This is where your local council talks with you to find out and agree what support and advice you need.</p>


    <section class="dfe">
      <h3 class="govuk-heading-m">Education and training support</h3>

      <p class="govuk-body">If you’re at college or university full time, your council might give you support like: 
        <ul class="govuk-list govuk-list--bullet">
          <li>accommodation during term holidays</li>
          <li>help with costs like course fees or equipment </li>
        </ul>
      </p>
      <p class="govuk-body">Talk to someone from your council to find out more. </p>
    </section>

    <section class="dfe">
        <h2 id="more-support" class="govuk-heading-l">More support</h2>
        <p class="govuk-body">There is more help you could get that:
          <ul class="govuk-list govuk-list--bullet">
            <li>is for anyone with care experience </li>
            <li>you can apply for, like benefits or student finance</li>
          </ul>
        </p>
        <p class="govuk-body"><a href="all-support">View all support</a></p>
    </section>

  

 <hr style="margin-top:30px;">

<div class="metadata-logo-wrapper">
  <div class="govuk-grid-column-two-thirds metadata-column">
    <div class="gem-c-metadata" data-module="gem-toggle metadata" data-gem-toggle-module-started="true" data-metadata-module-started="true">
      <dl class="gem-c-metadata__list">
        <dt class="gem-c-metadata__term">From:</dt>
          <dd class="gem-c-metadata__definition">
            <a class="govuk-link" href="https://www.gov.uk/government/organisations/department-for-education">Department for Education</a>

          </dd>
          <dt class="gem-c-metadata__term">Published</dt>
          <dd class="gem-c-metadata__definition">12 September 2024</dd>
          <dt class="gem-c-metadata__term">Last updated</dt>
          <dd class="gem-c-metadata__definition">25 January 2025</dd>
      </dl>
    </div>
    <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-8">
              <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link" data-print-link-module-started="true">Print this page</button>
          </div>
  </div>
</div>


<a href="#"><img class="full-width-image" alt="Care" src="/public/images/share.png" style="max-width: 300px;"></a>

    
  </div>

  <div class="govuk-grid-column-one-third">
    <!-- <div class="x-govuk-related-navigation" style="margin-top: 30px;">
      <nav class="x-govuk-related-navigation__nav-section" role="navigation" aria-labelledby="related-navigation-related-content">
        <h2 class="x-govuk-related-navigation__main-heading" id="related-navigation-related-content">
          Related statuses
        </h2>
        <ul class="x-govuk-related-navigation__link-list">
          <li class="x-govuk-related-navigation__link">
            <a class="govuk-link x-govuk-related-navigation__section-link x-govuk-related-navigation__section-link--other" href="status-former-relevant-child">Former relevant child</a>
          </li>
          <li class="x-govuk-related-navigation__link">
            <a class="govuk-link x-govuk-related-navigation__section-link x-govuk-related-navigation__section-link--other" href="status-qualifying-care-leaver">Qualifying care leaver</a>
          </li>
          <li class="x-govuk-related-navigation__link">
            <a class="govuk-link x-govuk-related-navigation__section-link x-govuk-related-navigation__section-link--other" href="status-relevant-child">Relevant child</a>
          </li>
          <li class="x-govuk-related-navigation__link">
            <a class="govuk-link x-govuk-related-navigation__section-link x-govuk-related-navigation__section-link--other" href="status-eligible-child">Eligible child</a>
          </li>
          
        </ul>
      </nav>
    </div> -->

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half" style="background-color: pink;">
    <p>govuk-grid-column-one-half</p>
  </div>
  <div class="govuk-grid-column-one-half" style="background-color: purple;"> 
    <p>govuk-grid-column-one-half</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third" style="background-color: teal;">
    <p>govuk-grid-column-one-third</p>
  </div>
  
  <div class="govuk-grid-column-one-third" style="background-color: beige;">
    
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Help with nationality
        </span>
      </summary>
      <div class="govuk-details__text">
        We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post.
      </div>
    </details>

  </div>

  <div class="govuk-grid-column-one-third" style="background-color: yellowgreen;">
    <p>govuk-grid-column-one-third</p>
  </div>
</div>



{% endblock %}
