{% set view = 'Your rights' %}
{% extends "/layouts/dfe-service-v03.html" %}

{% set pageName="Working out your rights" %}

{% block header %}

<div class="govuk-width-container">
  <div cLass="govuk-phase-banner">
    <p Class="translate" claSs="govuk-body-s"><a hrEf="#" class="govuk-link">English</a></p>
    
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.
      </span>
    </p>
  </div>
</div>


{{ header({
    "showNav": "true",
    "showSearch": "false",
    "showHeaderActionLinks": "false",
    "logoPath": "public/images",
    "searchAction": "/search/",
    "searchInputName": "q",
    "logoAltText": "Department for Education",
    "homeHref": "/",
    "selectedNav": view,
    "service": {
      "name": "Support for care leavers",
      "serviceUrl": "/"
    },
    "headerActionLinks": [
      {
        "url"  : "/",
        "label" : "My account"
      },
      {
        "url"  : "/",
        "label" : "Sign out"
      }
    ],
    "primaryLinks": [
       {
        "url"  : "home",
        "label" : "Home"
      }, {
        "url"  : "all-support",
        "label" : "All support"
      },  {
        "url"  : "status",
        "label" : "Your rights"
      },  {
        "url"  : "guides-advice",
        "label" : "Leaving care guides"
      }, {
        "url"  : "helplines",
        "label" : "Helplines"
      }
    ]
  })
}}


<section class="dfe-page-grey">
   <div class="govuk-width-container">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-two-thirds">
            <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="home">Home</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="status">Your rights</a>
              </li>
            </ol>
          </nav>

          <h1 class="govuk-heading-xl">Working out your rights</h1>
          <p class="govuk-body-l">Learn about care leaver statuses and work out what support you have a right to.</p>

         </div>
      </div>
   </div>
</section>


{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h4 class="govuk-heading-s">Contents</h4>
    <ul class="govuk-list contents">
        <li class="govuk-body-s"><a href="#what-is-a-care-leaver-status">What is a ‘care leaver status’?</a></li>
        <li class="govuk-body-s"><a href="#how-to-work-out-your-status">How to work out your status</a></li>
        <li class="govuk-body-s"><a href="#former-relevant-child">Former relevant child</a></li>
        <li class="govuk-body-s"><a href="#persons-qualifying-for-advice-and-assistance">Persons qualifying for advice and assistance</a></li>
        <li class="govuk-body-s"><a href="#eligible-child">Eligible child</a></li>
        <li class="govuk-body-s"><a href="#relevant-child">Relevant child</a></li>
    </ul>

    <section id="what-is-a-care-leaver-status" class="bluebox">
        <h2 class="govuk-heading-l">What is a ‘care leaver status’?</h2>
        <p class="govuk-body">You may have a care leaver status if you:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>are aged 16 to 25</li>
            <li>have been looked after by a local authority</li>
        </ul>
        <p class="govuk-body">Having a care leaver status gives you the right to get certain support. It helps your council understand what support they must give you.</p>
    </section>

    <section id="how-to-work-out-your-status" class="bluebox">
        <h2 class="govuk-heading-l">How to work out your status</h2>
        <p class="govuk-body">To understand if you have a status and which one you have, you need to know:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>how long you were looked after</li>
            <li>how old you were when this happened</li>
            <li>whether you’re still being looked after or not</li>
        </ul>
      

        <div class="govuk-inset-text">
          <p class="govuk-body">If you need help working this out, you can ask:</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>your social worker</li>
              <li>your <a href="support-personal-adviser" class="govuk-link">personal adviser (PA)</a></li>
              <li>an independent advocate</li>
              <li>someone else from your council</li>
          </ul>
          <p class="govuk-body">They can also help you access your records if you’re not sure about certain details.</p>
        </div>
      </section>
    

    <section id="former-relevant-child" class="bluebox">
        <h2 class="govuk-heading-l">Former relevant child</h2>
        <p class="govuk-body">Your status is ‘former relevant child’ if you’re aged 18 to 25. When you were 16 or 17, your status was either:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="#relevant-child" class="govuk-link">relevant child</a></li>
            <li><a href="#eligible-child" class="govuk-link">eligible child</a></li>
        </ul>
        <p class="govuk-body">You may get support past 25 if you started college or university full time before your 25th birthday.</p>
        <p class="govuk-body">See what support you have a right to if your status is <a href="status-former-relevant-child" class="govuk-link">former relevant child.</a></p>
    </section>

    <section id="persons-qualifying-for-advice-and-assistance" class="bluebox">
        <h2 class="govuk-heading-l">Persons qualifying for advice and assistance</h2>
        <p class="govuk-body">Your status is a ‘person qualifying for advice and assistance’ if you’re aged 16 to 20. You were also either:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>looked after by a local authority before a Special Guardianship Order was made. This order is either still in place or was in place when you were 18</li>
            <li>looked after at some point between the ages of 16 and 18 but you are not anymore</li>
        </ul>
        <p class="govuk-body">See what support you have a right to if your status is <a href="status-qualifying-care-leaver" class="govuk-link">persons qualifying for advice and assistance</a>.</p>
    </section>

    <section id="eligible-child" class="bluebox">
        <h2 class="govuk-heading-l">Eligible child</h2>
        <p class="govuk-body">Your care leaver status is ‘eligible child’ if you:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>are aged 16 or 17</li>
            <li>are being looked after by a local authority</li>
            <li>have been looked after for at least 13 weeks</li>
        </ul>
        <p class="govuk-body">The 13 weeks must:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>have started after your 14th birthday</li>
            <li>include some time after your 16th birthday</li>
        </ul>
        <p class="govuk-body">See what support you have a right to if your status is <a href="status-eligible-child" class="govuk-link">eligible child</a>.</p>
    </section>

    <section id="relevant-child" class="bluebox">
        <h2 class="govuk-heading-l">Relevant child</h2>
        <p class="govuk-body">Your care leaver status is ‘relevant child’ if you:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>are aged 16 or 17</li>
            <li>are no longer being looked after by a local authority</li>
            <li>were looked after for at least 13 weeks</li>
        </ul>
        <p class="govuk-body">The 13 weeks must:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>have started after your 14th birthday</li>
            <li>include some time after your 16th birthday</li>
        </ul>
        <h3 class="govuk-heading-m">Other reasons this could be your status</h3>
        <p class="govuk-body">Your status is relevant child if you were looked after for at least 13 weeks after your 14th birthday and then:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>went into hospital after your 16th birthday</li>
            <li>were detained after your 16th birthday (in somewhere like a young offenders institution or secure training centre)</li>
        </ul>
        <p class="govuk-body">See what support you have a right to if your status is <a href="status-relevant-child" class="govuk-link">relevant child</a>.</p>
    </section>

  <hr>

<div class="metadata-logo-wrapper">
  <div class="govuk-grid-column-two-thirds metadata-column">
    <div class="gem-c-metadata" data-module="gem-toggle metadata" data-gem-toggle-module-started="true" data-metadata-module-started="true">
      <dl class="gem-c-metadata__list">
        <dt class="gem-c-metadata__term">From:</dt>
          <dd class="gem-c-metadata__definition">
            <a class="govuk-link" href="https://www.gov.uk/government/organisations/department-for-education">Department for Education</a>

          </dd>
          <dt class="gem-c-metadata__term">Published</dt>
          <dd class="gem-c-metadata__definition">07 October 2024</dd>
          <dt class="gem-c-metadata__term">Last updated</dt>
          <dd class="gem-c-metadata__definition">25 October 2024</dd>
      </dl>
    </div>
    <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-8">
              <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link" data-print-link-module-started="true">Print this page</button>
          </div>
  </div>
</div>

    
  </div>

  <div class="govuk-grid-column-one-third">
    <!-- <div class="x-govuk-related-navigation" style="margin-top: 30px;">
      <nav class="x-govuk-related-navigation__nav-section" role="navigation" aria-labelledby="related-navigation-related-content">
        <h2 class="x-govuk-related-navigation__main-heading" id="related-navigation-related-content">
          Related statuses
        </h2>
        <ul class="x-govuk-related-navigation__link-list">
          <li class="x-govuk-related-navigation__link">
            <a class="govuk-link x-govuk-related-navigation__section-link x-govuk-related-navigation__section-link--other" href="support-former-relevant-child">Former relevant child</a>
          </li>
          <li class="x-govuk-related-navigation__link">
            <a class="govuk-link x-govuk-related-navigation__section-link x-govuk-related-navigation__section-link--other" href="support-qualifying-care-leaver">Qualifying care leaver</a>
          </li>
          <li class="x-govuk-related-navigation__link">
            <a class="govuk-link x-govuk-related-navigation__section-link x-govuk-related-navigation__section-link--other" href="support-relevant-child">Relevant child</a>
          </li>
          <li class="x-govuk-related-navigation__link">
            <a class="govuk-link x-govuk-related-navigation__section-link x-govuk-related-navigation__section-link--other" href="support-eligible-child">Eligible child</a>
          </li>
          
        </ul>
      </nav>
    </div> -->

  </div>
</div>



{% endblock %}
