{% set view = 'Your rights' %}
{% extends "/layouts/dfe-service-v03.html" %}

{% set pageName="Eligible child - Your rights" %}

{% block header %}

<div class="govuk-width-container">
  <div cLass="govuk-phase-banner">
    <p Class="translate" claSs="govuk-body-s"><a hrEf="#" class="govuk-link">English</a></p>
    
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Alpha
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.
      </span>
    </p>
  </div>
</div>


{{ header({
    "showNav": "true",
    "showSearch": "false",
    "showHeaderActionLinks": "false",
    "logoPath": "public/images",
    "searchAction": "/search/",
    "searchInputName": "q",
    "logoAltText": "Department for Education",
    "homeHref": "/",
    "selectedNav": view,
    "service": {
      "name": "Support for care leavers",
      "serviceUrl": "/"
    },
    "headerActionLinks": [
      {
        "url"  : "/",
        "label" : "My account"
      },
      {
        "url"  : "/",
        "label" : "Sign out"
      }
    ],
    "primaryLinks": [
       {
        "url"  : "home",
        "label" : "Home"
      }, {
        "url"  : "all-support",
        "label" : "All support"
      },  {
        "url"  : "status",
        "label" : "Your rights"
      },  {
        "url"  : "guides-advice",
        "label" : "Leaving care guides"
      }, {
        "url"  : "helplines",
        "label" : "Helplines"
      }
    ]
  })
}}


<section class="dfe-page-grey">
   <div class="govuk-width-container">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-two-thirds">
            <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="home">Home</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="status">Your rights</a>
              </li>
            </ol>
          </nav>

           <h1 class="govuk-heading-xl">Eligible child</h1>
        <p class="govuk-body-l">Find out what support you have the right to if your care leaver status is ‘eligible child’</p>

         </div>
      </div>
   </div>
</section>


{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <section class="dfe">
        
        <h2 id="support-right" class="govuk-heading-l">Support as an eligible child</h2>
        <p class="govuk-body">You have the right to (you’re entitled to) the following support if your care leaver status is <a href="status#former-eligible-child" class="govuk-link">eligible child</a>.</p>
    </section>

    <section class="dfe">
        <h3 class="govuk-heading-m">General support</h3>

        <h4 class="govuk-heading-s" style="margin-top:30px;"><a href="local-offer" class="govuk-link">Local Offer for care leavers</a></h4>
        <p class="govuk-body">Your local council’s own support package, which covers things like housing and money</p>

        <hr style="margin-top:30px;">

        <h4 class="govuk-heading-s" style="margin-top:30px;"><a href="support-personal-adviser" class="govuk-link">Personal adviser (PA)</a></h4>
        <p class="govuk-body">Someone who supports and prepares you as you leave care</p>

        <hr style="margin-top:30px;">

        <h4 class="govuk-heading-s" style="margin-top:30px;"><a href="support-pathway-plan" class="govuk-link">Pathway Plan</a></h4>
        <p class="govuk-body">A plan for your future that you do with your personal adviser</p>
    </section>

    <section class="dfe">
        <h3 class="govuk-heading-m">Help with money</h3>

        <h4 class="govuk-heading-s" style="margin-top:30px;"><a href="https://www.gov.uk/government/publications/junior-individual-saving-accounts-for-looked-after-children#:~:text=Children%20who%20have%20been%20in,government%20into%20a%20Junior%20ISA." target="_blank" class="govuk-link">Junior Individual Savings Account (ISA) <span class="govuk-body-s">(Opens in a new tab)</span></a></h4>
        <p class="govuk-body">A bank account containing money you can get from your 18th birthday</p>

        <hr style="margin-top:30px;">

        <h4 class="govuk-heading-s" style="margin-top:30px;"><a href="local-offer" class="govuk-link">Higher Education Bursary</a></h4>
        <p class="govuk-body">Money to help you go to university or college</p>

        <hr style="margin-top:30px;">

        <h4 class="govuk-heading-s" style="margin-top:30px;"><a href="https://www.gov.uk/government/publications/apprenticeships-bursary-for-care-leavers/apprenticeships-care-leavers-bursary-policy-summary" target="_blank" class="govuk-link">Apprenticeships Care Leaver’s Bursary <span class="govuk-body-s">(Opens in a new tab)</span></a></h4>
        <p class="govuk-body">Money to help you if you're doing an apprenticeship</p>
    </section>
  

 <hr style="margin-top:30px;">

<div class="metadata-logo-wrapper">
  <div class="govuk-grid-column-two-thirds metadata-column">
    <div class="gem-c-metadata" data-module="gem-toggle metadata" data-gem-toggle-module-started="true" data-metadata-module-started="true">
      <dl class="gem-c-metadata__list">
        <dt class="gem-c-metadata__term">From:</dt>
          <dd class="gem-c-metadata__definition">
            <a class="govuk-link" href="https://www.gov.uk/government/organisations/department-for-education">Department for Education</a>

          </dd>
          <dt class="gem-c-metadata__term">Published</dt>
          <dd class="gem-c-metadata__definition">12 September 2024</dd>
          <dt class="gem-c-metadata__term">Last updated</dt>
          <dd class="gem-c-metadata__definition">25 January 2025</dd>
      </dl>
    </div>
    <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-3 govuk-!-margin-bottom-8">
              <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link" data-print-link-module-started="true">Print this page</button>
          </div>
  </div>
</div>


<a href="#"><img class="full-width-image" alt="Care" src="/public/images/share.png" style="max-width: 300px;"></a>

    
  </div>

  <div class="govuk-grid-column-one-third">
    <!-- <div class="x-govuk-related-navigation" style="margin-top: 30px;">
      <nav class="x-govuk-related-navigation__nav-section" role="navigation" aria-labelledby="related-navigation-related-content">
        <h2 class="x-govuk-related-navigation__main-heading" id="related-navigation-related-content">
          Related statuses
        </h2>
        <ul class="x-govuk-related-navigation__link-list">
          <li class="x-govuk-related-navigation__link">
            <a class="govuk-link x-govuk-related-navigation__section-link x-govuk-related-navigation__section-link--other" href="status-former-relevant-child">Former relevant child</a>
          </li>
          <li class="x-govuk-related-navigation__link">
            <a class="govuk-link x-govuk-related-navigation__section-link x-govuk-related-navigation__section-link--other" href="status-qualifying-care-leaver">Qualifying care leaver</a>
          </li>
          <li class="x-govuk-related-navigation__link">
            <a class="govuk-link x-govuk-related-navigation__section-link x-govuk-related-navigation__section-link--other" href="status-relevant-child">Relevant child</a>
          </li>
          <li class="x-govuk-related-navigation__link">
            <a class="govuk-link x-govuk-related-navigation__section-link x-govuk-related-navigation__section-link--other" href="status-eligible-child">Eligible child</a>
          </li>
          
        </ul>
      </nav>
    </div> -->

  </div>
</div>



{% endblock %}
