{% extends "/layouts/dfe-service-v02.html" %}

{% set pageName="Guides and advice" %}



{% block content %}

<div class="govuk-grid-row">
   <div class="govuk-grid-column-full">
      <!-- <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"> -->

          

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">


               <div class="govuk-!-margin-top-3 govuk-!-margin-bottom-5">
                  <div class="govuk-grid-row split-panel" style="background: #f3f2f1;">
                     <div class="govuk-grid-column-one-half text-column">
                        <strong class="govuk-tag govuk-tag--green">Guides and advice</strong>
                        <h2 class="govuk-heading-l govuk-!-margin-top-3">Understanding the leaving care process</h2>
                        <p class="govuk-body-l">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p class="govuk-!-margin-bottom-0">
                           <a href="guide-leaving-care">Learn more about leaving care</a>
                        </p>
                     </div>
                     <div class="govuk-grid-column-one-half image-column">
                        <a href="#"><img class="full-width-image" alt="Care" src="/public/images/general03.jpg"></a>
                     </div>
                  </div>
               </div>
           


               <div class="govuk-!-margin-top-3 govuk-!-margin-bottom-5">
                  <div class="govuk-grid-row split-panel" style="background: #f3f2f1;">
                     <div class="govuk-grid-column-one-half image-column">
                        <a href="#"><img class="full-width-image" alt="Care" src="/public/images/housing02.jpg"></a>
                     </div>
                     <div class="govuk-grid-column-one-half text-column">
                        <strong class="govuk-tag govuk-tag--green">Guides and advice</strong>
                        <h2 class="govuk-heading-l govuk-!-margin-top-3">Homelessness help</h2>
                        <p class="govuk-body-l">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p class="govuk-!-margin-bottom-0">
                           <a href="guide-leaving-care">Help finding somewhere to live</a>
                        </p>
                     </div>
                  </div>
               </div>

               <div class="govuk-!-margin-top-3 govuk-!-margin-bottom-5">
                  <div class="govuk-grid-row split-panel" style="background: #f3f2f1;">
                     <div class="govuk-grid-column-one-half text-column">
                        <strong class="govuk-tag govuk-tag--green">Guides and advice</strong>
                        <h2 class="govuk-heading-l govuk-!-margin-top-3">Have you come to the UK recently?</h2>
                        <p class="govuk-body-l">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p class="govuk-!-margin-bottom-0">
                           <a href="guide-leaving-care">Learn more about seeking asylum</a>
                        </p>
                     </div>
                     <div class="govuk-grid-column-one-half image-column">
                        <a href="#"><img class="full-width-image" alt="Care" src="/public/images/general01.jpg"></a>
                     </div>
                  </div>
               </div>

               <div class="govuk-!-margin-top-3 govuk-!-margin-bottom-5">
                  <div class="govuk-grid-row split-panel" style="background: #f3f2f1;">
                     <div class="govuk-grid-column-one-half image-column">
                        <a href="#"><img class="full-width-image" alt="Care" src="/public/images/housing02.jpg"></a>
                     </div>
                     <div class="govuk-grid-column-one-half text-column">
                        <strong class="govuk-tag govuk-tag--green">Guides and advice</strong>
                        <h2 class="govuk-heading-l govuk-!-margin-top-3">Homelessness help</h2>
                        <p class="govuk-body-l">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p class="govuk-!-margin-bottom-0">
                           <a href="guide-leaving-care">Help finding somewhere to live</a>
                        </p>
                     </div>
                  </div>
               </div>

            </div>
         </div>
    
  </div>
</div>



{% endblock %}
