{% extends "/layouts/dfe-service-v02.html" %}

{% set pageName="Guides" %}

{% block header %}

<div class="govuk-width-container">
{{ govukPhaseBanner({
  tag: {
    text: "Alpha"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
}) }}
</div>


{{ header({
    "showNav": "true",
    "showSearch": "false",
    "showHeaderActionLinks": "false",
    "logoPath": "public/images",
    "searchAction": "/search/",
    "searchInputName": "q",
    "logoAltText": "Department for Education",
    "homeHref": "/find-support",
    "selectedNav": view,
    "service": {
      "name": "Find support for leaving care",
      "serviceUrl": "/"
    },
    "headerActionLinks": [
      {
        "url"  : "/",
        "label" : "My account"
      },
      {
        "url"  : "/",
        "label" : "Sign out"
      }
    ],
    "primaryLinks": [
        {
        "url"  : "find-support",
        "label" : "Home"
      }, {
        "url"  : "all-support",
        "label" : "Find support",
        "selectedNav" : "true"
      },  {
        "url"  : "status",
        "label" : "Check my status"
      },  {
        "url"  : "leaving-care",
        "label" : "Leaving care process"
      },  {
        "url"  : "guides-advice",
        "label" : "Guides"
      }, {
        "url"  : "helplines",
        "label" : "Helplines"
      }
    ]
  })
}}
<div class="govuk-exit-this-page" data-module="govuk-exit-this-page">
  <a href="https://www.bbc.co.uk/weather" role="button" draggable="false" class="govuk-button govuk-button--warning govuk-exit-this-page__button govuk-js-exit-this-page-button" data-module="govuk-button" rel="nofollow noreferrer">
    <span class="govuk-visually-hidden">Emergency</span> Exit this page
  </a>
</div>

<section class="dfe-page-grey">
   <div class="govuk-width-container">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-two-thirds">
            <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="find-support">Home</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="all-support">Find support</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="local-offer">Local offer</a>
              </li>
            </ol>
          </nav>

           <h2 class="govuk-heading-xl">
            Local offer
           </h2>

         </div>
      </div>
   </div>
</section>


{% endblock %}



{% block content %}

<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">Contents</h2>
    <ul class="govuk-list">
      <li><a href="#who-can-get-this">Who can get this?</a></li>
      <li><a href="#what-is-a-local-offer">What is a Local Offer?</a></li>
      <li><a href="#other-support">If you're receiving other support</a></li>
      <li><a href="#issues-with-support">Issues with this support</a></li>
      <li><a href="#find-local-council">Finding your local council</a></li>
    </ul>

    

    <h2 id="who-can-get-this" class="govuk-heading-l">Who can get this?</h2>
    <p class="govuk-body">Your local council must give you a ‘Local Offer’ if you’re:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>between 16 and 25</li>
      <li>spent more than 13 weeks in care since the age of 14 — this includes time after you turned 16</li>
    </ul>
    <p class="govuk-body">Being in care means you were:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>in foster care</li>
      <li>in residential care</li>
      <li>under special guardianship</li>
      <li>in custody under the age of 18 — for example, in a secure children's home, secure training centre or young offender institution</li>
      <li>an unaccompanied asylum-seeking child</li>
    </ul>
    <p class="govuk-body">It does not matter if you have left care or are still in care.</p>
    <p class="govuk-body">Some councils may also give you a Local Offer if you have been in care for less than 13 weeks as long as you either:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>left care when you were 16 or 17, and returned to your family home in a planned move for 6 months or more before you turned 18</li>
      <li>were in care before you were under a Special Guardianship Order</li>
    </ul>
    <p class="govuk-body">A Special Guardianship Order means a court has told someone other than your parents must care for you.</p>
    <p class="govuk-body">To find out if you can get this support, you’ll need to <a href="status">check your ‘care leaver status’</a>.</p>

    <h2 id="what-is-a-local-offer" class="govuk-heading-l">What is a Local Offer?</h2>
    <p class="govuk-body">When you leave care, your local council can help:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>find somewhere to live</li>
      <li>money</li>
      <li>staying healthy, including mental health</li>
      <li>starting or continuing education</li>
      <li>get a job</li>
    </ul>
    <p class="govuk-body">Every council in England has to provide support for people leaving care. Some support is available wherever you live but depends on your care leaver status. There is also support specific to the local council that cares for you, called a ‘Local Offer’. It helps you feel safe and supported as you prepare to leave care and become independent.</p>

    <h3 id="moving-around" class="govuk-heading-m">Moving around</h3>
    <p class="govuk-body">If you move to a new area that belongs to another local council, your old local council still has to care for you. This means you get everything in their Local Offer. For example, if you went into care while living in Barnet and moved to Sheffield, you’ll still get Barnet Council's Local Offer.</p>

    <h3 id="housing" class="govuk-heading-m">Housing and accommodation</h3>
    <p class="govuk-body">Your local council must ensure you move to ‘suitable accommodation’ when you leave care. This means somewhere you feel safe and comfortable. Your council’s Local Offer could include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>finding supported lodgings if you're not ready to live on your own</li>
      <li>discounting your Council Tax bill or making you ‘exempt’ from paying</li>
      <li>advice to avoid falling behind on rent or bills</li>
    </ul>
    <p class="govuk-body">If you’re under 21 and were in care when you were 16 or 17, you get ‘priority housing’. This means the council must give you emergency housing to prevent homelessness.</p>
    <p class="govuk-body"><a href="#">Read more about finding somewhere to live.</a></p>

    <h3 id="money-finances" class="govuk-heading-m">Money and finances</h3>
    <p class="govuk-body">As a care leaver, your council must provide financial support until you’re 25. Your council’s Local Offer could include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>paying for your TV license</li>
      <li>money towards bills</li>
      <li>birthday or Christmas money</li>
      <li>help setting up a bank account or accessing a trust fund</li>
    </ul>

    <h2 id="education-training" class="govuk-heading-l">Education and training</h2>
    <p class="govuk-body">Your council must provide financial support if you want to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>go to school, college, or university</li>
      <li>work</li>
      <li>do training</li>
    </ul>
    <p class="govuk-body">Your council’s Local Offer could include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>a free bus pass for school or college</li>
      <li>travel costs for job interviews</li>
      <li>money for books, laptops, and essential clothing</li>
      <li>accommodation during university holidays</li>
      <li>work experience or jobs within the council</li>
    </ul>

    <h3 id="health-wellbeing" class="govuk-heading-m">Health and wellbeing</h3>
    <p class="govuk-body">Your council must promote and protect your physical and mental health. This could include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>free access to leisure centres</li>
      <li>help registering with a GP</li>
      <li>transport costs for health appointments</li>
      <li>help arranging childcare, if you have children</li>
    </ul>

    <h3 id="relationships" class="govuk-heading-m">Relationships</h3>
    <p class="govuk-body">Your council must help you maintain positive social networks. This could include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>providing a mentor</li>
      <li>helping you stay in touch with former carers</li>
      <li>support re-connecting with family if you choose to</li>
    </ul>

    <h2 id="other-support" class="govuk-heading-l">If you're receiving other support</h2>
    <p class="govuk-body">Support is available whichever council cares for you. To check what support you’re entitled to, you need to verify your care leaver status. For example, you may be entitled to the 16 to 19 Bursary for college and a laptop if it’s in your Local Offer.</p>

    <h2 id="issues-with-support" class="govuk-heading-l">Issues with this support</h2>
    <p class="govuk-body">Each council offers different support, so it's important to check what yours provides. By law, every council must publish a document showing its Local Offer. If you’ve moved around and are unsure which council should be supporting you, check your local council. You can also make a formal complaint if you’re not receiving the support you should have.</p>

    <h2 id="find-local-council" class="govuk-heading-l">Further information</h2>
    <p class="govuk-body">To find out more about the Local Offer, contact your local council.</p>
  </div>
  <div class="govuk-grid-column-one-third">
    this
  </div>

<div class="govuk-grid-row">
   <div class="govuk-grid-column-full">
      <!-- <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"> -->

          <section class="dfe-section govuk-!-margin-top-5">
             <div class="govuk-width-container">
                <h2 class="govuk-heading-l">Helpful links</h2>
                <div class="dfe-grid-container dfe-grid-container--wider govuk-!-margin-top-5">

                  <div class="hf-card">
                     <a href="all-support">
                        <div class="hf-card-container">
                           <img class="full-width-image" alt="Support for practitioners thumbnail" src="/public/images/care02.jpg">
                           <div class="hf-card-details">
                              <h3 class="govuk-heading-m">View all support</h3>
                              <p class="govuk-body">Browse through the different types of support available to you</p>
                           </div>
                        </div>
                     </a>
                  </div>

                  <div class="hf-card">
                     <a href="leaving-care-process">
                        <div class="hf-card-container">
                           <img class="full-width-image" alt="Support for practitioners thumbnail" src="/public/images/care01.jpg">
                           <div class="hf-card-details">
                              <h3 class="govuk-heading-m">Not sure which local council should be supporting you?</h3>
                              <p class="govuk-body">Check who your local council is</p>
                           </div>
                        </div>
                     </a>
                  </div>

                  <div class="hf-card">
                     <a href="Guides">
                        <div class="hf-card-container">
                           <img class="full-width-image" alt="Support for practitioners thumbnail" src="/public/images/care03.jpg">
                           <div class="hf-card-details">
                              <h3 class="govuk-heading-m">Check your care leaver status</h3>
                              <p class="dfe-body-m">It can help to find out what is your care leaver status</p>
                           </div>
                        </div>
                     </a>
                  </div>

                </div>
             </div>
          </section>
    
  </div>
</div>
</div>

<h2 class="govuk-heading-l">Related support</h2>
  <ul class="govuk-list govuk-list--bullet">
    <li>Care Leaver’s Grant</li>
    <li>Advanced claims for Universal Credit</li>
    <li>Designated teacher</li>
    <li>Virtual School Head</li>
    <li>Personal advisor</li>
    <li>Pathway Plan</li>
    <li>Civil Service Care Leavers Internship Scheme</li>
  </ul>
    
  </div>
</div>



{% endblock %}
