{% set view = 'Check my status' %}
{% extends "/layouts/dfe-service-v02.html" %}

{% set pageName="Guides" %}

{% block header %}

<div class="govuk-width-container">
{{ govukPhaseBanner({
  tag: {
    text: "Alpha"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
}) }}
</div>


{{ header({
    "showNav": "true",
    "showSearch": "false",
    "showHeaderActionLinks": "false",
    "logoPath": "public/images",
    "searchAction": "/search/",
    "searchInputName": "q",
    "logoAltText": "Department for Education",
    "homeHref": "/find-support",
    "selectedNav": view,
    "service": {
      "name": "Find support for leaving care",
      "serviceUrl": "/"
    },
    "headerActionLinks": [
      {
        "url"  : "/",
        "label" : "My account"
      },
      {
        "url"  : "/",
        "label" : "Sign out"
      }
    ],
    "primaryLinks": [
       {
        "url"  : "find-support",
        "label" : "Home"
      }, {
        "url"  : "all-support",
        "label" : "Find support"
      },  {
        "url"  : "status",
        "label" : "Check my status"
      },  {
        "url"  : "guide-leaving-care",
        "label" : "Leaving care process"
      },  {
        "url"  : "guides-advice",
        "label" : "Guides"
      }, {
        "url"  : "helplines",
        "label" : "Helplines"
      }
    ]
  })
}}
<div class="govuk-exit-this-page" data-module="govuk-exit-this-page">
  <a href="https://www.bbc.co.uk/weather" role="button" draggable="false" class="govuk-button govuk-button--warning govuk-exit-this-page__button govuk-js-exit-this-page-button" data-module="govuk-button" rel="nofollow noreferrer">
    <span class="govuk-visually-hidden">Emergency</span> Exit this page
  </a>
</div>

<section class="dfe-page-grey">
   <div class="govuk-width-container">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-two-thirds">
            <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="find-support">Home</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="helplines">Status</a>
              </li>
            </ol>
          </nav>

           <h2 class="govuk-heading-xl">
            Status
           </h2>

         </div>
      </div>
   </div>
</section>


{% endblock %}



{% block content %}

<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">



  <h1 class="govuk-heading-l">Status</h1>
  <ul class="govuk-list">
    <li><a href="entitlement-checker">Checker</a></li>
    
  </ul>

  




            </div>
         </div>
    
  </div>
</div>



{% endblock %}
