{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block scripts %}
  {{ super() }}
  <script src="/node_modules/dfe-frontend/dist/dfefrontend.min.js"></script>
{% endblock %}

{% from 'node_modules/dfe-frontend/packages/components/header/macro.njk' import header %}
{% block header %}

{{ header({
    "showNav": "true",
    "showSearch": "false",
    "showHeaderActionLinks": "false",
    "logoPath": "public/images",
    "searchAction": "/search/",
    "searchInputName": "q",
    "logoAltText": "Department for Education",
    "homeHref": "/get-support",
    "selectedNav": view,
    "service": {
      "name": "Care leavers support",
      "serviceUrl": "/"
    },
    "headerActionLinks": [
      {
        "url"  : "/",
        "label" : "My account"
      },
      {
        "url"  : "/",
        "label" : "Sign out"
      }
    ],
    "primaryLinks": [
        {
        "url"  : "get-support",
        "label" : "Get support"
      }, {
        "url"  : "all-support",
        "label" : "All support"
      },  {
        "url"  : "leaving-care-process",
        "label" : "Leaving care process"
      }, {
        "url"  : "help-and-advice",
        "label" : "Help and advice"
      }
    ]
  })
}}
{% endblock %}