{% set view = 'Check my status' %}

{% extends "/layouts/dfe-service-v03.html" %}

{% set pageName="Your rights" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

   {{ govukBackLink({
     text: "Back",
     href: "16-question"
   }) }}

    <form class="form" action="/v02b16-incare" method="post">
      <span class="govuk-caption-l">Check my status</span>
    {{ govukRadios({
      name: "incarebirthday",
      value: data['incarebirthday'],
      fieldset: {
        legend: {
          text: "Were you in care on or after you turned 16?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        },
        {
          value: "dont-know",
          text: "I don't know"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}

    </form>

    
  </div>
</div>

{% endblock %}
