{% set view = 'Home' %}

{% extends "/layouts/dfe-service-v03.html" %}

{% set pageName="Leaving care support" %}

{% block header %}

<div class="govuk-width-container">
{{ govukPhaseBanner({
  tag: {
    text: "Alpha"
  },
  html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
}) }}
</div>


{{ header({
    "showNav": "true",
    "showSearch": "false",
    "showHeaderActionLinks": "false",
    "logoPath": "public/images",
    "searchAction": "/search/",
    "searchInputName": "q",
    "logoAltText": "Department for Education",
    "homeHref": "/home",
    "selectedNav": view,
    "service": {
      "name": "Leaving care support",
      "serviceUrl": "/"
    },
    "headerActionLinks": [
      {
        "url"  : "/",
        "label" : "My account"
      },
      {
        "url"  : "/",
        "label" : "Sign out"
      }
    ],
    "primaryLinks": [
        {
        "url"  : "home",
        "label" : "Home"
      }, {
        "url"  : "all-support",
        "label" : "Find support"
      },  {
        "url"  : "status",
        "label" : "Your rights"
      },  {
        "url"  : "guide-leaving-care",
        "label" : "Leaving care process"
      },  {
        "url"  : "guides-advice",
        "label" : "Guides"
      }, {
        "url"  : "helplines",
        "label" : "Helplines"
      }
    ]
  })
}}
<section class="dfe-page-grey">
   <div class="govuk-width-container">
      <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-xl">
     Get support if you've been in care
    </h2>

    <p class="govuk-body">Starting life as an adult can be challenging, but you're not on your own.</p>
      <p class="govuk-body">If you have been in care or have come to the UK on your own, you can get support.</p>

  </div>
  <div class="govuk-grid-column-one-third">
     <!-- <div><img src="/public/images/care04.jpg" alt="Young happy man at work" style="max-width: 100%;"></div> -->
  </div>
</div>
   </div>
</section>


{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h3 class="govuk-heading-l">Who is this support for?</h3>
      <p class="govuk-body">You may have the right to support if you are between 15 and 25 and: 
         <ul class="govuk-list govuk-list--bullet">
            <li><strong>have been in care</strong> (for example, in foster care, residential care or supported lodgings)</li>
            <li><strong>have been in custody</strong> (for example, in a secure children's home, secure training centre or young offender institution)</li>
            <li><strong>came the UK on your own</strong> (to seek asylum).</li>
         </ul>
      </p>
   </div>
   <div class="govuk-grid-column-one-third">
     <div><img src="/public/images/home-support.jpg" alt="Happy female teacher talking with teenage girl sitting in cafeteria at junior high school" style="max-width: 100%;"></div>
  </div>
</div>
<div class="govuk-grid-row">
   <div class="govuk-grid-column-full">
      <!-- <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"> -->

          <section class="dfe-section govuk-!-margin-top-5">
             <div class="govuk-width-container">
                <h2 class="govuk-heading-l">Find the right support</h2>
                <p class="govuk-body">When you leave care, you may have the right to certain support and there’s some you must apply for.</p>
                <div class="dfe-grid-container dfe-grid-container--wider govuk-!-margin-top-5">

                  <div class="hf-card">
                     <a href="category-money">
                        <div class="hf-card-container">
                           <img class="full-width-image" alt="Money" src="/public/images/icon-money.png">
                           <div class="cat-card-details">
                              <h3 class="govuk-heading-m">Money and benefits</h3>
                              <p class="govuk-body">Help with money when you leave care and benefits you can apply for</p>
                           </div>
                        </div>
                     </a>
                  </div>

                  <div class="hf-card">
                     <a href="category-housing">
                        <div class="hf-card-container">
                           <img class="full-width-image" alt="Housing" src="/public/images/icon-housing.png">
                           <div class="cat-card-details">
                              <h3 class="govuk-heading-m">Housing</h3>
                              <p class="govuk-body">Help finding somewhere to live and other support with housing costs</p>
                           </div>
                        </div>
                     </a>
                  </div>

                  <div class="hf-card">
                     <a href="category-work">
                        <div class="hf-card-container">
                           <img class="full-width-image" alt="Work and unemployment" src="/public/images/icon-work.png">
                           <div class="cat-card-details">
                              <h3 class="govuk-heading-m">Work and employment</h3>
                              <p class="govuk-body">Support and services to help with finding and staying in work</p>
                           </div>
                        </div>
                     </a>
                  </div>

                  <div class="hf-card">
                     <a href="local-offer">
                        <div class="hf-card-container">
                           <img class="full-width-image" alt="Money" src="/public/images/icon-local.png">
                           <div class="cat-card-details">
                              <h3 class="govuk-heading-m">Local support</h3>
                              <p class="govuk-body">Extra help your local council may offer you through their ‘Local Offer’</p>
                           </div>
                        </div>
                     </a>
                  </div>

                  <div class="hf-card">
                     <a href="category-education">
                        <div class="hf-card-container">
                           <img class="full-width-image" alt="Education" src="/public/images/icon-education.png">
                           <div class="cat-card-details">
                              <h3 class="govuk-heading-m">Education and training</h3>
                              <p class="govuk-body">Support to help you start or continue education and training</p>
                           </div>
                        </div>
                     </a>
                  </div>

                  <div class="hf-card">
                     <a href="status-uasc">
                        <div class="hf-card-container">
                           <img class="full-width-image" alt="Care" src="/public/images/icon-asylum.png">
                           <div class="cat-card-details">
                              <h3 class="govuk-heading-m">Coming to the UK</h3>
                              <p class="govuk-body">Help if you came to the UK to seek asylum (to be safe)</p>
                           </div>
                        </div>
                     </a>
                  </div>

                  <p class="govuk-heading-m"><a href="all-support"><strong>View all support</strong></a></p>

                </div>
             </div>
          </section>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

               <h2 class="govuk-heading-l">Helpful guides</h2>


               <div class="govuk-!-margin-top-3 govuk-!-margin-bottom-5">
                  <div class="govuk-grid-row split-panel" style="background: #f3f2f1; vertical-align: text-top;">
                     <div class="govuk-grid-column-one-half text-column">
                        <span class="govuk-caption-l">Guide</span>
                        <h3 class="govuk-heading-l"><a href="guide-leaving-care">What happens when you leave care </a></h3>
                        <p class="govuk-body">What happens as you prepare to leave care and how you’ll continue to get support afterwards</p>
                        <p class="govuk-!-margin-bottom-0">
                           <!-- <a href="guide-leaving-care">Learn more about leaving care</a> -->
                        </p>
                     </div>
                     <div class="govuk-grid-column-one-half image-column">
                        <a href="guide-leaving-care"><img class="full-width-image" alt="Care" src="/public/images/guide-leave-care.jpg"></a>
                     </div>
                  </div>
               </div>
           


               <div class="govuk-!-margin-top-3 govuk-!-margin-bottom-5">
                  <div class="govuk-grid-row split-panel" style="background: #f3f2f1; vertical-align: text-top;">
                     <div class="govuk-grid-column-one-half image-column" >
                        <a href="guide-homeless"><img class="full-width-image" alt="Care" src="/public/images/guide-homeless.jpg"></a>
                     </div>
                     <div class="govuk-grid-column-one-half text-column" style="vertical-align: text-top;">
                        <span class="govuk-caption-l">Guide</span>
                        <h3 class="govuk-heading-l"><a href="guide-finding-somewhere-to-live">Facing homelessness</a></h3>
                        <p class="govuk-body">If you’re worried about housing or you’re in crisis, we’ll talk you through your next steps</p>
                        <p class="govuk-!-margin-bottom-0">
                           <!-- <a href="guide-homeless">Find help</a> -->
                        </p>
                     </div>
                  </div>
               </div>

               <div class="govuk-!-margin-top-3 govuk-!-margin-bottom-5">
                  <div class="govuk-grid-row split-panel" style="background: #f3f2f1; vertical-align: text-top;">
                     <div class="govuk-grid-column-one-half text-column">
                        <span class="govuk-caption-l">Guide</span>
                        <h3 class="govuk-heading-l"><a href="guide-asylum">Staying in the UK</a></h3>
                        <p class="govuk-body">How to claim asylum (ask to stay in the UK as a refugee)</p>
                        <p class="govuk-!-margin-bottom-0">
                           <!-- <a href="guide-leaving-care">Learn more about seeking asylum</a> -->
                        </p>
                     </div>
                     <div class="govuk-grid-column-one-half image-column">
                        <a href="guide-asylum"><img class="full-width-image" alt="Care" src="/public/images/guide-asylum.jpg"></a>
                     </div>
                  </div>
               </div>


               <p class="govuk-heading-m"><a href="guides-advice"><strong>View all guides</strong></a></p>

            </div>
         </div>
    
  </div>
</div>



{% endblock %}
